// Background Colors Config
// ==========================================================================
&.-outline{
    label{
        .-base-background & {
            background-color: $base-background-color;
        }

        .-secondary-background & {
            background-color: $secondary-background-color;
        }

        .-dark-background & {
            background-color: $dark-background-color;
        }

        .-brand-background & {
            background-color: $brand-background-color;
        }
    }

    input,
    select{
        .-base-background & {
            border-color: contrast($base-background-color, 0.3);

            @include hover{
                border-color: contrast($base-background-color, 0.6);
                transition: border 150ms $ease-in;
            }

            &:focus{
                border-color: $primary !important;

                & + label{
                    color: $primary;
                }
            }
        }

        .-secondary-background & {
            border-color: contrast($secondary-background-color, 0.3);

            @include hover{
                border-color: contrast($secondary-background-color, 0.6);
                transition: border 150ms $ease-in;
            }

            &:focus{
                border-color: $primary !important;

                & + label{
                    color: $primary;
                }
            }
        }

        .-dark-background & {
            border-color: contrast($dark-background-color, 0.3);

            @include hover{
                border-color: contrast($dark-background-color, 0.6);
                transition: border 150ms $ease-in;
            }

            &:focus{
                border-color: $primary-alt !important;

                & + label{
                    color: $primary-alt;
                }
            }
        }

        .-brand-background & {
            border-color: contrast($brand-background-color, 0.3);

            @include hover{
                border-color: contrast($brand-background-color, 0.6);
                transition: border 150ms $ease-in;
            }

            &:focus{
                border-color: $primary-alt !important;

                & + label{
                    color: $primary-alt;
                }
            }
        }
    }
}

// Outline Style Config
// ==========================================================================
&.-outline{
    input,
    select,
    textarea{
        border-radius: 4px;
    }

    .o-input{
        &:after{
            display: none !important;
        }

        &.is-invalid{
            select{
                border-color: rgba($error, 0.87) !important;
            }

            input{
                border-color: rgba($error, 0.87) !important;
                padding: 11px 15px 9px;
                transition: all 150ms $ease;

                & + label{
                    font-size: 12px;
                    bottom: 48px;
                    left: 16px;
                }
            }
        }

        html.has-js & {
            &.has-value{
                input,
                select{
                    padding: 11px 15px 9px;
                }

                label{
                    font-size: 12px;
                    bottom: 48px;
                    left: 16px;
                }
            }
        }

        input,
        select{
            & + label{
                bottom: 16px;
                left: 12px;
                position: absolute;

                html.has-no-js & {
                    font-size: 12px;
                    bottom: 48px;
                }
            }
        }
    }

    input{
        &.has-icon{
            padding-left: 48px !important;
            padding-right: 16px !important;

            & + label{
                left: 48px;
            }
        }
    }

    label{
        pointer-events: none;
        font-size: 16px;
        transition: all 75ms $ease-out;
    }

    input,
    select{
        height: 100%;
        background: transparent;
        border-radius: 4px;
        padding: 12px 16px 10px;
        border-width: 2px;
        border-style: solid;
        transition: all 75ms $ease-sharp;

        & + label{
            position: absolute;
            left: 16px;
            bottom: 20px;
            padding: 0 4px;
        }

        &:focus{
            padding: 11px 15px 9px;
            transition: all 150ms $ease-in;

            & + label{
                font-size: 12px;
                bottom: 48px;
                left: 16px;
                transition: all 150ms $ease-in;
            }
        }
    }
}
