// Background Colors Config
// ==========================================================================
&.-underline{
    .o-input{
        &:after{
            .-base-background & {
                background-color: $primary;
            }

            .-secondary-background & {
                background-color: $primary;
            }

            .-dark-background & {
                background-color: $primary-alt;
            }

            .-brand-background & {
                background-color: $primary-alt;
            }
        }

        &:before{
            .-base-background & {
                background-color: contrast($base-background-color);
            }

            .-secondary-background & {
                background-color: contrast($secondary-background-color);
            }

            .-dark-background & {
                background-color: contrast($dark-background-color);
            }

            .-brand-background & {
                background-color: contrast($brand-background-color);
            }
        }

        input,
        select{
            .-base-background & {
                border-color: contrast($base-background-color, 0.3);

                @include hover{
                    border-color: contrast($base-background-color, 0.6);
                }

                &:focus{
                    html.has-no-js & {
                        border-color: $primary;
                    }

                    & + label{
                        color: $primary;
                    }
                }
            }

            .-secondary-background & {
                border-color: contrast($secondary-background-color, 0.3);

                @include hover{
                    border-color: contrast($secondary-background-color, 0.6);
                }

                &:focus{
                    html.has-no-js & {
                        border-color: $primary;
                    }

                    & + label{
                        color: $primary;
                    }
                }
            }

            .-dark-background & {
                border-color: contrast($dark-background-color, 0.3);

                @include hover{
                    border-color: contrast($dark-background-color, 0.6);
                }

                &:focus{
                    html.has-no-js & {
                        border-color: $primary-alt;
                    }

                    & + label{
                        color: $primary-alt;
                    }
                }
            }

            .-brand-background & {
                border-color: contrast($brand-background-color, 0.3);

                @include hover{
                    border-color: contrast($brand-background-color, 0.6);
                }

                &:focus{
                    html.has-no-js & {
                        border-color: $primary-alt;
                    }

                    & + label{
                        color: $primary-alt;
                    }
                }
            }
        }
    }
}

// Unerline Style Config
// ==========================================================================
&.-underline{
    .o-input{
        &.is-invalid{
            input{
                & + label{
                    font-size: 12px;
                    bottom: 34px;
                }
            }
        }

        &::before{
            content: "";
            @include size(100%, 2px);
            @include position(absolute, null null 0 0);
            display: inline-block;
            transition: all 150ms $ease-out;
            transform-origin: center;
            z-index: 1;
            opacity: 0.3;
        }

        &::after{
            content: "";
            @include size(100%, 2px);
            @include position(absolute, null null 0 0);
            transform: scaleX(0);
            display: inline-block;
            transition: all 150ms $ease-out;
            transform-origin: center;
            z-index: 2;
        }

        &.has-focus{
            &:after{
                transform: scaleX(1);
                transition: transform 150ms $ease-in;
            }
        }

        &.has-value{
            label{
                font-size: 12px;
                bottom: 35px;
            }
        }

        &.is-invalid{
            &:after{
                transform: scaleX(1);
                background-color: rgba($error, 0.87) !important;
                transition: background-color 150ms $ease;
            }
        }

        @include hover{
            &:before{
                opacity: 0.6;
            }
        }

        input,
        select{
            & + label{
                bottom: 18px;
                left: 12px;
                position: absolute;

                html.has-no-js & {
                    font-size: 12px;
                    bottom: 35px;
                }
            }
        }
    }

    label{
        pointer-events: none;
        font-size: 16px;
        transition: all 150ms $ease-out;
    }

    input{
        &.has-icon{
            & + label{
                left: 48px;
            }
        }
    }

    input,
    select{
        height: 100%;
        padding: 20px 12px 6px;

        &:focus{
            & + label{
                font-size: 12px;
                bottom: 35px;
                transition: all 150ms $ease-in;
            }
        }
    }

    fieldset{
        padding-top: $unit;
        padding-bottom: 0;
    }
}
