// Screen Breakpoints
// =============================================================================
$screen-xsmall:     411px;
$screen-small:      768px;
$screen-medium:     1024px;
$screen-large:      1280px;
$screen-xlarge:     1600px;
$screen-xxlarge:    1920px;

// Custom Breakpoints
// =============================================================================
$screen-nav:        960px;