// Screen Breakpoints
// =============================================================================
$screen-xsmall:     600px - 1;
$screen-small:      840px - 1;
$screen-medium:     960px - 1;
$screen-large:      1280px - 1;
$screen-xlarge:     1440px - 1;
$screen-xxlarge:    1600px - 1;
$screen-xxxlarge:   1920px - 1;

// Custom Breakpoints
// =============================================================================
$screen-nav:        960px;