// ==========================================================================
// Settings / Config / Colors
// ==========================================================================
// Color Pallet Generator - http://colourpalettegenerator.com/
// ==========================================================================

// Base Palette
// =============================================================================
$white:     #ffffff;
$snow:      #F9FAFC;
$slate:     #3C4858;
$steel:     #273444;
$black:     #1F2D3D;

// Greys
// =============================================================================
$grey-1:    #f7f7f7;
$grey-2:    #e1e1e1;
$grey-3:    #cfcfcf;
$grey-4:    #b1b1b1;
$grey-5:    #9e9e9e;
$grey-6:    #7e7e7e;
$grey-7:    #626262;
$grey-8:    #515151;
$grey-9:    #3b3b3b;
$grey-10:   #222222;

// Warm Greys
// =============================================================================
$warm-grey-1:    #faf9f7;
$warm-grey-2:    #e8e6e1;
$warm-grey-3:    #d3cec4;
$warm-grey-4:    #b8b2a7;
$warm-grey-5:    #a39e93;
$warm-grey-6:    #857f72;
$warm-grey-7:    #625d52;
$warm-grey-8:    #504a40;
$warm-grey-9:    #423d33;
$warm-grey-10:   #27241d;

// Cool Greys
// =============================================================================
$cool-grey-1:    #f5f7fa;
$cool-grey-2:    #e4e7eb;
$cool-grey-3:    #cbd2d9;
$cool-grey-4:    #9aa5b1;
$cool-grey-5:    #7b8794;
$cool-grey-6:    #616e7c;
$cool-grey-7:    #52606d;
$cool-grey-8:    #3e4c59;
$cool-grey-9:    #323f4b;
$cool-grey-10:   #1f2933;

// Blue Greys
// =============================================================================
$blue-grey-1:    #f0f4f8;
$blue-grey-2:    #d9e2ec;
$blue-grey-3:    #bcccdc;
$blue-grey-4:    #9fb3c8;
$blue-grey-5:    #829ab1;
$blue-grey-6:    #627d98;
$blue-grey-7:    #486581;
$blue-grey-8:    #334e68;
$blue-grey-9:    #243b53;
$blue-grey-10:   #102a43;

// Brand Palette
// =============================================================================

// Action Palette
// =============================================================================
$primary-1:     #e6e6ff;
$primary-2:     #c4c6ff;
$primary-3:     #a2a5fc;
$primary-4:     #8888fc;
$primary-5:     #7069fa;
$primary-6:     #5d55fa;
$primary-7:     #4d3df7;
$primary-8:     #3525e6;
$primary-9:     #1d0eb3;
$primary-10:    #0c008c;

$secondary-1:     #effcf6;
$secondary-2:     #c6f7e2;
$secondary-3:     #8eedc7;
$secondary-4:     #65d6ad;
$secondary-5:     #3ebd93;
$secondary-6:     #27ab83;
$secondary-7:     #199473;
$secondary-8:     #147d64;
$secondary-9:     #0c6b58;
$secondary-10:    #014d40;

$primary:       $primary-6;
$secondary:     $secondary-3;

// Interaction Settings
// =============================================================================
$primary-hover-opacity: 0.07;
$primary-active-opacity: 0.15;
$primary-hover: $primary-5;
$primary-active: $primary-7;

$secondary-hover-opacity: 0.07;
$secondary-active-opacity: 0.15;
$secondary-hover: $secondary-2;
$secondary-active: $secondary-1;

// Font Palette
// =============================================================================
$font-base:     $steel;
$font-alt:      $white;

// Selection
// =============================================================================
$selection-text-color:       #3b83f9;
$selection-background-color: $snow;

// Background Colors
// =============================================================================
$base-background-color:         $white;
$secondary-background-color:    $snow;

// Alert Colors
// =============================================================================
$error-1:   #ffe3e3;
$error-2:   #ffbdbd;
$error-3:   #ff9b9b;
$error-4:   #f86a6a;
$error-5:   #ef4e4e;
$error:     $error-4;

$warning-1: #fffbea;
$warning-2: #fff3c4;
$warning-3: #fce588;
$warning-4: #fadb5f;
$warning-5: #f7c948;
$warning:   $warning-4;

$success-1: #e3f9e5;
$success-2: #c1f2c7;
$success-3: #91e697;
$success-4: #51ca58;
$success-5: #31b237;
$success:   $success-4;

$notice-1: #e6f6ff;
$notice-2: #bae3ff;
$notice-3: #7cc4fa;
$notice-4: #47a3f3;
$notice-5: #2186eb;
$notice:   $notice-4;

// Social Media Colors
// =============================================================================
$facebook: #3b5998;
$twitter: #1da1f2;
$youtube: #ff0000;
$instagrammagenta: #c32aa3;
$instagramblue: #4c5fd7;
$instagrampurple: #7232bd;
$instagramorange: #f46f30;
$instagramyellow: #ffdc7d;
$googleblue: #4285f4;
$googlered: #ea4335;
$googleyellow: #fbbc05;
$googlegreen: #34a853;
$pinterest: #bd081c;
$googleplus: #db4437;
$linkedin: #007bb5;
$vimeoblue: #1ab7ea;
$tumblr: #2c4762;
$snapchat: #fffc00;
$whatsappgreen: #25d366;
$whatsappteal1: #075e54;
$whatsappteal2: #128c7e;
$mastodon: #2b90d9;
$apple: #a6b1b7;
$amazon: #ff9900;
$microsoftred: #f35022;
$microsoftgreen: #80bb03;
$microsoftblue: #03a5f0;
$microsoftyellow: #ffb903;
$periscope: #40a4c4;
$foursquarepink: #f94877;
$foursquarenavy: #073282;
$foursquareblue: #2d5be3;
$swarm: #ffa633;
$medium: #02b875;
$skypeblue: #00aff0;
$skypedkblue: #0078d7;
$android: #a4c639;
$stumbleupon: #e94826;
$flickrpink: #f40083;
$flickrblue: #006add;
$yahoo: #430297;
$twitch: #6441a4;
$soundcloud: #ff5500;
$spotifygreen: #1ed760;
$spotifydarkgreen: #1db954;
$dribbble: #ea4c89;
$slackpurple: #4d394b;
$slackskyblue: #70cadb;
$slackmosss: #3eb890;
$slackpink: #e01765;
$slackyellow: #e8a723;
$slackgreenblue: #1a937d;
$slackviolet: #472a49;
$slackolive: #65863a;
$slackred: #cc2027;
$reddit: #ff5700;
$deviantart: #05cc47;
$pocket: #ee4056;
$quora: #aa2200;
$quorablue: #2b6dad;
$slideshareorange: #e68523;
$slideshareblue: #00a0dc;
$fivehundredpx: #0099e5;
$vk: #4a76a8;
$listlyorange: #df6d46;
$listlyblue: #52b1b3;
$vine: #00b489;
$steam: #171a21;
$discord: #7289da;
