// Transitions
// =============================================================================
$speed:         300ms;
$ease:          cubic-bezier(0.4, 0.0, 0.2, 1);
$ease-sharp:    cubic-bezier(0.4, 0.0, 0.6, 1);
$ease-in:       cubic-bezier(0.0, 0.0, 0.2, 1);
$ease-out:      cubic-bezier(0.4, 0.0, 1, 1);

// Elevations
// =============================================================================
$elevation-1: 0 1px 3px rgba($black, 0.1), 0 2px 6px rgba($black, 0.1);
$elevation-2: 0 1px 4px rgba($black, 0.1), 0 4px 8px rgba($black, 0.1);
