// Spacing Units
// =============================================================================
$unit:          1rem;
$unit-half:     0.5rem;
$unit-quarter:  0.25rem;
$base-p-margin: 0 0 2rem;

// Layout
// =============================================================================
$gutter:        2rem;
$gutter-small:  1rem;
$gutter-large:  4rem;

// Container
// ==========================================================================
$container-width:           1280px;
$narrow-container-width:    768px;
