*,
*::before,
*::after{
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    border: none;
    outline: none;
    background: transparent;
    position: relative;
    color: inherit;
    box-shadow: none;
    font-weight: inherit;
    font-family: inherit;
    font-size: 1rem;
}
body
{
    margin: 0;
    padding: 0;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button,
input[type=number]
{
    -webkit-appearance: none;
    -moz-appearance: textfield;
}
input[type=color]::-webkit-color-swatch-wrapper,
input[type=color]::-webkit-color-swatch
{
    padding: 0;
    border: none;
}
