// Typefaces
// =============================================================================
$font-sans-serif:   'Roboto', sans-serif;
$font-serif:        serif;
$font-heading:      'Roboto', sans-serif;
$font-quote:        'Roboto', cursive;
$font-code:         'Courier New', monospace;

// Weights
// =============================================================================
$light: 300;
$regular: 400;
$medium: 500;
$heavy: 700;

// Typography
// =============================================================================
$font-size: 1rem;
$font-weight: $regular;
$line-height: normal;
$font-family: $font-sans-serif;
$color: $font-base;

// Links Style
// Can be set to anything that works with text-decoration-style
// =============================================================================
$link-style:       unset; 
$link-hover-style: unset;

// Transitions
// =============================================================================
$speed:         300ms;
$ease:          cubic-bezier(0.4, 0.0, 0.2, 1);
$ease-sharp:    cubic-bezier(0.4, 0.0, 0.6, 1);
$ease-in:       cubic-bezier(0.0, 0.0, 0.2, 1);
$ease-out:      cubic-bezier(0.4, 0.0, 1, 1);

// Spacing Units
// =============================================================================
$unit: 0.5rem;
$unit-small: 0.25rem;
$base-margin: 0 0 $unit*4;

// Container
// ==========================================================================
$container-width:           1280px;
$narrow-container-width:    840px;
$padding:                   0;

// Layout
// =============================================================================
$gutter:        1rem;
$gutter-small:  0.5rem;
$gutter-large:  2rem;

// Breakpoints
// =============================================================================
$screen-xsmall:     600px;
$screen-small:      840px;
$screen-medium:     960px;
$screen-large:      1280px;
$screen-xlarge:     1440px;
$screen-xxlarge:    1600px;
$screen-xxxlarge:   1920px;
$screen-container:  $container-width;