// Imports
// =============================================================================
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono|Montserrat:300,400,500,700');

// Typefaces
// =============================================================================
$font-sans-serif:   'Circular', 'Montserrat', sans-serif;
$font-serif:        serif;
$font-heading:      $font-sans-serif;
$font-quote:        'Circular', 'Montserrat', cursive;
$font-code:         'Share Tech Mono', monospace;

// Weights
// =============================================================================
$light: 300;
$regular: 400;
$medium: 500;
$heavy: 700;

// Typography
// =============================================================================
$font-weight: $regular;
$font-family: $font-sans-serif;
$color: $font-base;

$base-font-size: 16px; // In pixels

// Transitions
// =============================================================================
$speed:         300ms;
$ease:          cubic-bezier(0.4, 0.0, 0.2, 1);
$ease-sharp:    cubic-bezier(0.4, 0.0, 0.6, 1);
$ease-in:       cubic-bezier(0.0, 0.0, 0.2, 1);
$ease-out:      cubic-bezier(0.4, 0.0, 1, 1);

// Spacing Units
// =============================================================================
$unit:          1rem;
$unit-half:     $unit/2;
$unit-quarter:  $unit/4;
$base-p-margin: 0 0 $unit;

// Container
// ==========================================================================
$container-width:           1024px;
$narrow-container-width:    680px;

// Layout
// =============================================================================
$gutter:        $unit;
$gutter-small:  $unit-half;
$gutter-large:  $unit*2;

// Screen Breakpoints
// =============================================================================
$screen-xsmall:     600px - 1;
$screen-small:      840px - 1;
$screen-medium:     960px - 1;
$screen-large:      1280px - 1;
$screen-xlarge:     1440px - 1;
$screen-xxlarge:    1600px - 1;
$screen-xxxlarge:   1920px - 1;

// Custom Breakpoints
// =============================================================================
$screen-container:  $container-width;
$screen-nav:        960px;
