.b-ctas{
    position: relative;

    .o-layout{
        display: inline-flex;
        flex-wrap: wrap;

        &.-gutter-small{
            .b-ctas_shim{
                margin-bottom: $unit-half;
            }
        }

        &.-gutter{
            .b-ctas_shim{
                margin-bottom: $unit;
            }
        }

        &.-gutter-large{
            .b-ctas_shim{
                margin-bottom: $unit*2;
            }
        }
    }

    .b-ctas_shim{
        width: 100%;
        display: inline-flex;
        flex: 0px auto;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: $unit;
    }
}
