.b-image{
    .b-image_shim{
        position: relative;

        &.u-ratio-36\/10{
            @media (max-width: 721px){
                min-height: 420px;
            }
        }

        .b-image_image,
        .b-image_overlay{
            @include position(absolute, 0 null null 0);
            @include size(100%, 100%);
        }

        .b-image_image{
            background-repeat: no-repeat !important;
            background-position: center !important;

            @media (max-width: $screen-large){
                background-size: cover !important;
            }
        }

        img{
            max-width: 100%;
        }
    }
}
