@import 'settings';
@import 'mixins';

// Spacing
// ==========================================================================
@import './utilities/spacing';

// Mobile Padding
// ==========================================================================

.u-mobile-padding{
    @media (max-width: $screen-xsmall){
        padding-left: 24px !important;
        padding-right: 24px !important;
    }
    @media (min-width: $screen-xsmall) and (max-width: $screen-large){
        padding-left: 32px !important;
        padding-right: 32px !important;
    }
}
