<div class="c-progress-spinner -circle -infinite">
  <div class="c-progress-spinner_wrapper">
    <div class="c-progress-spinner_inner">
      <div class="c-progress-spinner_left">
        <div class="c-progress-spinner_spinner"></div>
      </div>
      <div class="c-progress-spinner_gap"></div>
      <div class="c-progress-spinner_right">
        <div class="c-progress-spinner_spinner"></div>
      </div>
    </div>
  </div>
</div>
