{# {% cache %} #}
    <header class="c-header" role="banner">
        <a href="{{siteUrl}}">Home</a><br/>
        <a href="{{siteUrl}}test">Test</a><br/>
        <a href="{{siteUrl}}example">Example</a>
    </header>
{# {% endcache %} #}