/vendor

# NPM
# -------
node_modules

# Automation / Build Script Outputs
# Remove the top 3 from this file when not using server side compiling
# -------
/public/assets/ie11.js
/public/automation
/config/papertrain/automation.php
/public/automation_BACKUP
/public/automation_INCOMING
/config/papertrain/automation.tmp

# Craft CMS
# -------
.env
license.key
/.idea
/storage/*
!/storage/.gitkeep
/public/uploads/*
!/public/uploads/.gitkeep
/public/imager/*
!/public/imager/.gitkeep
/user-uploads/*
!/user-uploads/.gitkeep

# Logging
# -------
*.log
error_log
logs/

# Other
# -------
/.sass-cache
.DS_Store
.stylelintcache
_compiled
_ie
.editorconfig
.editorconfig
