{% extends '_layouts/base' %}

{% block content %}
    <article data-template="account-error-page" class="g-container -full">
        <section class="g-container">
        </section>
    </article>
{% endblock %}
