{% extends '_layouts/base' %}

{% block content %}
    <article data-template="account-error-page" class="u-container -full">
        <section class="u-container">
        </section>
    </article>
{% endblock %}
