{% extends '_layouts/base' %}

{% block content %}
    <article data-template="account-login-page" class="o-container -full">
        <section class="o-container">
        </section>
    </article>
{% endblock %}
