.c-complex-content-panel{
    @include size(100vw, 100vh);
    @include position(fixed, 0 null null 0);
    transform: translateY(-100%);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    transition: transform 0ms 150ms linear;

    .c-complex-content-panel_backdrop{
        @include size(100%, 100%);
        @include position(absolute, 0 null null 0);
        background-color: $cool-black;
        opacity: 0;
        transition: opacity 150ms $ease;
        z-index: 1;
    }

    &.is-open{
        transform: translateY(0);
        transition: transform 0ms 0ms linear;

        .c-complex-content-panel_modal{
            transform: scale(1) translateY(0);
            opacity: 1;
            transition: all 75ms 0ms $ease-in;
        }

        .c-complex-content-panel_backdrop{
            opacity: 0.6;
        }
    }

    .c-complex-content-panel_modal{
        display: inline-block;
        z-index: 2;
        min-width: 256px;
        min-height: 158px;
        padding: $unit*2 $unit*3;
        background-color: $white;
        box-shadow: 0 4px 16px rgba($black, 0.6);
        border-radius: 8px;
        opacity: 0;
        transform: scale(0.87) translateY(25px);
        transform-origin: center top;
        transition: transform 0ms 150ms $ease-sharp, opacity 150ms 0ms $ease;
    }
}

.c-complex-content-panel_button{
    @include size(48px, 48px);
    @include position(fixed, $unit $unit null null);
    z-index: 9999;

    button{
        @include size(36px, 36px);
        color: rgba($off-black, 0.3);
        transition: color 150ms $ease;

        &.is-open{
            color: rgba($white, 0.6);

            @include hover{
                color: rgba($white, 0.87);
            }

            @include active{
                color: rgba($white, 1);
            }
        }

        @include hover{
            color: rgba($off-black, 0.6);
        }

        @include active{
            color: rgba($off-black, 0.87);
        }
    }
}
