// ==========================================================================
// Utilities / Helpers
// ==========================================================================

// Layout
// ==========================================================================
.u-clearfix
{
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

// Decorative
// =============================================================================
.u-truncate
{
    @include u-truncate;
}

//  Visibility / Display
// ==========================================================================
.u-block
{
    display: block;
}

.u-hidden{
    display: none;
    visibility: hidden;
    opacity: 0;
}