// Helpers
// ==========================================================================

.u-clearfix
{
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

.u-truncate
{
    @include u-truncate;
}

.u-lowercase{
    text-transform: lowercase !important;
}

.u-uppercase{
    text-transform: uppercase !important;
}
