// States
// ==========================================================================

/**
 * Control visibility without affecting flow.
 */
.is-visible
{
    visibility: visible !important;
    opacity: 1 !important;
    height: auto !important;
    transition: all 150ms $ease-in;
}

.is-hidden
{
    visibility: hidden !important;
    opacity: 0 !important;
    height: 0 !important;
    transition: all 150ms $ease-sharp;
}
