$golden-ratio: 1.618;
$base-size: strip-unit($base-font-size);

@mixin h1{
    $h1-size: round($base-size * ($golden-ratio * $golden-ratio));
    font-size: $h1-size + $base-font-type;
    line-height: round($h1-size * $golden-ratio) + $base-font-type;
}

@mixin h2{
    $h2-size: round($base-size * 2.058);
    font-size: $h2-size + $base-font-type;
    line-height: round($h2-size * $golden-ratio) + $base-font-type;
}

@mixin h3{
    $h3-size: round($base-size * $golden-ratio);
    font-size: $h3-size + $base-font-type;
    line-height: round($h3-size * $golden-ratio) + $base-font-type;
}

@mixin h4{
    $h4-size: round($base-size * 1.272);
    font-size: $h4-size + $base-font-type;
    line-height: round($h4-size * $golden-ratio) + $base-font-type;
}

@mixin base-font{
    font-size: $base-size + $base-font-type;
    line-height: round($base-size * $golden-ratio) + $base-font-type;
}

@mixin h6{
    $h6-size: round($base-size / 1.272);
    font-size: $h6-size + $base-font-type;
    line-height: round($h6-size * $golden-ratio) + $base-font-type;
}