// Background Color Config Options
// ==========================================================================
//
// Set background colors in settings/_colors.scss
//

section,
article,
.g-container{
    &.-white-background{
        background: $base-background-color;
        color: $font-base;
    }

    &.-snow-background{
        background: $secondary-background-color;
        color: $font-base;
    }
}
