// Base / Page
// ==========================================================================

html
{
    font-family: $font-family;
    font-weight: $font-weight;
    color: $font-base;
    font-size: $base-font-size;
    overflow-y: scroll;
    min-height: 100vh;
    text-align: left;
    position: relative;
    overflow-x: hidden;
}

body{
    background: $base-background-color;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;

    main{
        min-height: 80vh;
        width: 100%;
        padding-top: 126px;
        line-height: 0;

        @media (min-width: $screen-medium){
            padding-top: 125px;
        }
    }
}

::selection
{
    color: $selection-text-color;
    background-color: $selection-background-color;
    text-shadow: none;
}

:root{
    font-size: 100%;
}
