@import 'settings';
@import 'mixins';

body
{
    background-color: royalblue;
}

#homepage
{
    position: relative;
    text-align: center;
    color: $white;
    font-size: 2rem;
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-flow:  column wrap;
}
