{% set dataModel = 
    {
        "sample": "Hello world."
    }
%}

{% extends "_layouts/page" %}

{% block content %}
    <article id="homepage" eager-load-css="homepage">
        <span style="margin-bottom:300vh;">{{ dataModel.sample }}</span>
        {% include "homepage/test-component" %}
    </article>
{% endblock %}
