{% extends "_layouts/page" %}

{% block content %}
    {{ craft.papertrain.stylesheets(['homepage'])|raw }}
    <article id="homepage" class="g-container -full" data-template="homepage" >
        <section class="g-container">
        </section>
    </article>
{% endblock %}
