{% set dataModel = 
    {
        "sample": "Hello world."
    }
%}

{% extends "_layouts/page" %}

{% block content %}
    <article id="homepage" eager-load-css="homepage">
        <span>{{ dataModel.sample }}</span>
    </article>
{% endblock %}
