{% do view.registerCssFile(alias('@rootUrl')|trim('/') ~ '/assets/styles/homepage.' ~ craft.app.config.general.cssCacheBustTimestamp ~ '.css') %}


{% extends "_layouts/base" %}

{% block content %}
    <article id="homepage" class="g-container -full" data-template="homepage" >
        <section class="g-container">
        </section>
    </article>
{% endblock %}
