{% set dataModel = 
    {
        "sample": "Hello world"
    }
%}

{% extends "_layouts/page" %}

{% block content %}
    {{ craft.papertrain.stylesheets(['homepage']) }}

    <article id="homepage" class="g-container -full" data-template="homepage">
        <section class="g-container">
            {{ dataModel.sample }}
        </section>
    </article>
{% endblock %}
