@import 'settings';
@import 'mixins';

.g-grid{
    display: grid;
    grid-template-columns: minmax(320px, 1fr);

    &.-gutter{
        gap: $gutter;
    }

    &.-gutter-small{
        gap: $gutter-small;
    }

    &.-gutter-large{
        gap: $gutter-large;
    }

    &.-layout{
        row-gap: 0 !important;
    }

     // Grid layout modifiers
     &.-split-50\/50{
        @media (min-width: $screen-small){
            grid-template-columns: 1fr 1fr;
        }
    }

    &.-split-33\/33\/33{
        @media (min-width: $screen-small){
            grid-template-columns: 1fr 1fr;
        }

        @media (min-width: $screen-medium){
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    &.-split-33\/66{
        @media (min-width: $screen-medium){
            grid-template-columns: 1fr 2fr;
        }
    }

    &.-split-66\/33{
        @media (min-width: $screen-medium){
            grid-template-columns: 2fr 1fr;
        }
    }

    .g-grid_item{
        display: inline-flex;
        flex-flow: column wrap;
        position: relative;
        box-sizing: border-box;
    }
}
