@import 'settings';
@import 'mixins';

.g-heading{
    &.-h1{
        font-size: 6rem;
        line-height: 6rem;
    }

    &.-h2{
        font-size: 3.75rem;
        line-height: 3.75rem;
    }

    &.-h3{
        font-size: 3rem;
        line-height: 3.125rem;
    }

    &.-h4{
        font-size: 2.125rem;
        line-height: 2.5rem;
    }

    &.-h5{
        font-size: 1.5rem;
        line-height: 2rem;
    }

    &.-h6{
        font-size: 1.25rem;
        line-height: 2rem;
    }

    &.-light{
        font-weight: $light;
    }

    &.-medium{
        font-weight: $medium;
    }

    &.-heavy{
        font-weight: $heavy;
    }

    &.-white{
        color: $white;
    }
}
