{% if block.selectedCards|length %}
	<div class="b-ctas o-wrapper u-1/1 {{ block.paddingType }}{{ block.paddingSize }}">
        <div class="o-grid -split-33/33/33 {{ block.gridSpacing }} {{ block.gridLayout }} u-1/1">
            {% for card in block.selectedCards %}
                <div class="b-ctas_shim o-grid_item">
                    {% include '_includes/objects/card' ~ block.cardStyle %}
                </div>
            {% endfor %}
        </div>
	</div>
{% endif %}
