{% if block.selectedForm|length %}
	<div class="o-freeform o-form {{ block.formStyle }} o-wrapper u-1/1" data-module="Freeform BasicForm">
		{% set form = craft.freeform.form(block.selectedForm.handle) %}
        {{ form.render() }}
	</div>
{% endif %}
