{% if block.videoId|length %}
	<div class="b-youtube o-wrapper u-1/1 {{ block.paddingType }}{{ block.paddingSize }}">
		<div class="b-youtube_shim u-ratio-16/9">
            <iframe class="b-youtube_video"  src="https://www.youtube.com/embed/{{ block.videoId }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
	</div>
{% endif %}
