html.is-ie{
    // Layout
    // ==========================================================================
    // @source https://github.com/inuitcss/inuitcss/blob/0420ba8/objects/_objects.layout.scss

    .o-layout{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;

        // Layout modifiers
        &.-split-50\/50{
            .o-layout_item{
                width: 100%;

                @media (min-width: $screen-small){
                    width: 50%;
                }
            }
        }

        &.-split-33\/33\/33{
            .o-layout_item{
                width: 100%;

                @media (min-width: $screen-small){
                    width: 50%;
                }

                @media (min-width: $screen-medium){
                    width: 33%;
                }
            }
        }

        &.-split-33\/66{
            .o-layout_item{
                width: 100%;

                @media (min-width: $screen-medium){
                    &:nth-child(odd){
                        width: 33%;
                    }

                    &:nth-child(even){
                        width: 66%;
                    }
                }
            }
        }

        &.-split-66\/33{
            .o-layout_item{
                width: 100%;

                @media (min-width: $screen-medium){
                    &:nth-child(odd){
                        width: 66%;
                    }

                    &:nth-child(even){
                        width: 33%;
                    }
                }
            }
        }

        // Gutter modifiers
        &.-gutter{
            margin-left: -$gutter;

            .o-layout_item{
                padding-left: $gutter;
            }
        }

        &.-gutter-small{
            margin-left: -$gutter-small;

            .o-layout_item{
                padding-left: $gutter-small;
            }
        }

        &.-gutter-large{
            margin-left: -$gutter-large;

            .o-layout_item{
                padding-left: $gutter-large;
            }
        }
    }
    .o-layout_item
    {
        display: inline-flex; // [1]
        flex-flow: column wrap;
        flex: 0 0 auto;
        width: 100%; // [2]
        vertical-align: top; // [3]
        position: relative;
        box-sizing: border-box;
    }

    // Grid
    // ==========================================================================

    .o-grid{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;

        // Layout modifiers
        &.-split-50\/50{
            .o-grid_item{
                width: 100%;

                @media (min-width: $screen-small){
                    width: 50%;
                }
            }
        }

        &.-split-33\/33\/33{
            .o-grid_item{
                width: 100%;

                @media (min-width: $screen-small){
                    width: 50%;
                }

                @media (min-width: $screen-medium){
                    width: 33%;
                }
            }
        }

        &.-split-33\/66{
            .o-grid_item{
                width: 100%;

                @media (min-width: $screen-medium){
                    &:nth-child(odd){
                        width: 33%;
                    }

                    &:nth-child(even){
                        width: 66%;
                    }
                }
            }
        }

        &.-split-66\/33{
            .o-grid_item{
                width: 100%;

                @media (min-width: $screen-medium){
                    &:nth-child(odd){
                        width: 66%;
                    }

                    &:nth-child(even){
                        width: 33%;
                    }
                }
            }
        }

        // Gutter modifiers
        &.-gutter{
            margin-left: -$gutter;

            .o-grid_item{
                padding-left: $gutter;
                padding-bottom: $gutter;
            }
        }

        &.-gutter-small{
            margin-left: -$gutter-small;

            .o-grid_item{
                padding-left: $gutter-small;
                padding-bottom: $gutter-small;
            }
        }

        &.-gutter-large{
            margin-left: -$gutter-large;

            .o-grid_item{
                padding-left: $gutter-large;
                padding-bottom: $gutter-large;
            }
        }
    }
    .o-grid_item
    {
        display: inline-flex; // [1]
        flex-flow: column wrap;
        flex: 0 0 auto;
        width: 100%; // [2]
        vertical-align: top; // [3]
        position: relative;
        box-sizing: border-box;
    }
}

// IE - Fix CSS issues in IE 11 and below
// ==========================================================================
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    svg{
        transform: none !important;
    }
}

// Microsoft Edge - Fix CSS issues in Edge
// ==========================================================================
@supports (-ms-ime-align:auto){
    svg{
        transform: none !important;
    }
}