@import 'settings';
@import 'mixins';

.g-button{
    position: relative;
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    height: 48px;
    line-height: 45px;
    font-weight: $medium;
    padding: 0 1rem;
    transition: all 150ms $ease;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
    border-width: 2px;
    border-style: solid;

    &.-white{
        &.-outline{
            border-color: $white;
            color: $white;
            background-color: transparent;

            @include hover{
                background-color: rgba($white, 0.07);
            }

            @include active{
                background-color: rgba($white, 0.15);
            }
        }

        &.-solid{
            background-color: $white;
            border-color: $white;
            color: $primary;

            @include hover{
                background-color: $grey-1;
                border-color: $grey-1;
            }

            @include active{
                background-color: $grey-2;
                border-color: $grey-2;
            }
        }
    }

    &.-wide{
        padding: 0 2rem;
    }

    &.-raised{
        box-shadow: 0 4px 6px rgba($black, 0.2);

        @include active{
            box-shadow: 0 1px 3px rgba($black, 0.2);
        }
    }

    &.-rounded{
        border-radius: 4px;

        &.-small{
            border-radius: 2px;
        }

        &.-pill{
            border-radius: 24px;
        }
    }
}
