{% extends '_layouts/base' %}
{% import '_macros/form' as form %}

{% block content %}
    <article data-template="Example Page" class="o-container-full u-mobile-padding u-padding-vertical-x4 -base-background">
        <section class="o-container u-padding-vertical-x4">
            <h1 class="o-h1 u-text-center u-margin-bottom">Example Page</h1>
            <p>Use this page to style the base objects provided by Papertrain. To style the basic Complex Content blocks please checkout the <a href="{{ siteUrl }}example-page">example page here</a>. If you're unfamiliar with the SASS setup for Papertrain we suggest you <a href="http://papertrain.io/sass" target="_blank">click here</a> to learn about the basics of, components, objects and transparent namespaces.</p>
        </section>
        <hr>
        <section class="o-container u-padding-vertical-x4">
            <h2 class="o-h2 u-text-center u-margin-bottom">Raw Elements</h1>
            <p class="u-margin-bottom-x4">
                The following elements have been normalized. You should <strong>NOT</strong> style these elements directly. Please create custom object classes when styling elements for global use or style them within the context of the component you're building.
            </p>
            <!-- BEGIN RAW HTML ELEMENTS -->
            <p>Base text for reference.</p>
            <table>
                <thead>
                    <tr>
                        <th>table header</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>column one</td>
                        <td>column two</td>
                    </tr>
                </tbody>
            </table>
            <sup>superscript</sup>
            <sub>subscript</sub>
            <code>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</code>
            <cite>Lorem ipsum dolor sit amet.</cite>
            <pre>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</pre>
            <ol>
                <li>List item</li>
                <li>List item</li>
                <li>List item</li>
                <li>List item</li>
            </ol>
            <ul>
                <li>List item</li>
                <li>List item</li>
                <li>List item</li>
                <li>List item</li>
            </ul>
            <a href="#">Link</a>
            <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</blockquote>
            <button>Button</button>
            <h1>Headine 1</h1>
            <h2>Headine 2</h2>
            <h3>Headine 3</h3>
            <h4>Headine 4</h4>
            <h5>Headine 5</h5>
            <h6>Headine 6</h6>
            <!-- END RAW HTML ELEMENTS -->
        </section>
    </article>
{% endblock %}
