{% extends '_layouts/base' %}
{% import '_macros/form' as form %}

{% block content %}
    <article data-template="Example Page" class="js-section o-container -full u-mobile-padding u-padding-bottom-x8 -base-background">
        <section class="o-container u-padding-vertical-x4 o-copy">
            <h1 class="o-h1 u-text-center u-margin-bottom">Example Page</h1>
            <p>Use this page to style the base objects provided by Papertrain. To style the basic Complex Content blocks please checkout the <a href="{{ siteUrl }}example-page">example page here</a>. If you're unfamiliar with the SASS setup for Papertrain we suggest you <a href="http://papertrain.io/sass" target="_blank">click here</a> to learn about the basics of, components, objects and transparent namespaces.</p>
            <form class="u-1/1 o-form -outline u-margin-top-x2 js-example-form-controller">
                <div class="o-wrapper u-align-top u-padding-horizontal u-1/1">
                    <div class="js-input o-input has-value">
                    <select id="id-form-color" name="form-style" class="js-background-input" >
                        <option value="-base-background">Primary</option>
                        <option value="-secondary-background">Secondary</option>
                        <option value="-dark-background">Dark</option>
                        <option value="-brand-background">Brand</option>
                    </select>
                    <label>Background Color</label>
                    <span class="o-arrow">
                        {% include '_svgs/sort-down-solid.svg' %}
                    </span>
                    </div>
                </div>
            </form>
        </section>
        <hr>
        <section class="o-container u-padding-vertical-x4">
            <h2 class="o-h2 u-text-center u-margin-bottom">Raw Elements</h1>
            <p class="u-margin-bottom-x4">
                The following elements have been normalized. You should <strong>NOT</strong> style these elements directly. Please create custom object classes when styling elements for global use or style them within the context of the component you're building.
            </p>
            <!-- BEGIN RAW HTML ELEMENTS -->
            <p>Base text for reference.</p>
            <table>
                <thead>
                    <tr>
                        <th>table header</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>column one</td>
                        <td>column two</td>
                    </tr>
                </tbody>
            </table>
            <sup>superscript</sup>
            <sub>subscript</sub>
            <code>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</code>
            <cite>Lorem ipsum dolor sit amet.</cite>
            <pre>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</pre>
            <ol>
                <li>List item</li>
                <li>List item</li>
                <li>List item</li>
                <li>List item</li>
            </ol>
            <ul>
                <li>List item</li>
                <li>List item</li>
                <li>List item</li>
                <li>List item</li>
            </ul>
            <a href="#">Link</a>
            <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</blockquote>
            <button>Button</button>
            <h1>Headine 1</h1>
            <h2>Headine 2</h2>
            <h3>Headine 3</h3>
            <h4>Headine 4</h4>
            <h5>Headine 5</h5>
            <h6>Headine 6</h6>
            <!-- END RAW HTML ELEMENTS -->
        </section>
        <hr>
        <section class="o-container u-padding-vertical-x4">
            <h1 class="o-h2 u-text-center u-margin-bottom">Heading Objects</h1>
            <p class="u-margin-bottom-x4 o-wrapper u-1/1 u-text-center">
                Use the following section to style the base heading objects. The SCSS for these objects is located in the sass/objects/headings file.
            </p>
            <h3 class="o-h1">Heading Style 1</h3>
            <h3 class="o-h2">Heading Style 2</h3>
            <h3 class="o-h3">Heading Style 3</h3>
            <h3 class="o-h4">Heading Style 4</h3>
            <h3 class="o-h5">Heading Style 5</h3>
            <h3 class="o-h6">Heading Style 6</h3>
        </section>
        <hr>
        <section class="o-container -full u-text-center u-padding-vertical-x4">
            <h1 class="o-h2 u-margin-bottom">Button Objects</h1>
            <p class="u-margin-bottom-x4">
                Use the following section to style the base button objects. The SCSS for these objects is located in the sass/objects/button file.
            </p>
            <div class="o-wrapper u-1/1 u-margin-bottom">
                <button class="u-margin-horizontal-half o-button">Base Button</button>
                <button class="u-margin-horizontal-half o-button -square">Base Square Button</button>
                <button class="u-margin-horizontal-half o-button -round">Base Round Button</button>
                <button class="u-margin-horizontal-half o-button has-icon">
                    {% include '_svgs/exclamation-circle-regular.svg' %}
                    Base Button With Icon
                </button>
                <button class="o-button is-disabled">Disabled Base Button</button>
            </div>
            <div class="o-wrapper u-1/1 u-margin-bottom">
                <button class="u-margin-horizontal-half o-button -solid">Solid Button</button>
                <button class="u-margin-horizontal-half o-button -solid -square">Solid Square Button</button>
                <button class="u-margin-horizontal-half o-button -solid -round">Solid Round Button</button>
                <button class="u-margin-horizontal-half o-button -solid has-icon">
                    {% include '_svgs/exclamation-circle-regular.svg' %}
                    Solid Button With Icon
                </button>
                <button class="o-button -solid is-disabled">Disabled Solid Button</button>
            </div>
            <div class="o-wrapper u-1/1 u-margin-bottom">
                <button class="u-margin-horizontal-half o-button -outline">Outline Button</button>
                <button class="u-margin-horizontal-half o-button -outline -square">Outline Square Button</button>
                <button class="u-margin-horizontal-half o-button -outline -round">Outline Round Button</button>
                <button class="u-margin-horizontal-half o-button -outline has-icon">
                    {% include '_svgs/exclamation-circle-regular.svg' %}
                    Outline Button With Icon
                </button>
                <button class="o-button -outline is-disabled">Disabled Outline Button</button>
            </div>
            <div class="o-wrapper u-1/1 u-margin-bottom">
                <button class="u-margin-horizontal-half o-button -outline -alt">Alt Outline Button</button>
                <button class="u-margin-horizontal-half o-button -outline -alt -square">Alt Outline Square Button</button>
                <button class="u-margin-horizontal-half o-button -outline -alt -round">Alt Outline Round Button</button>
                <button class="u-margin-horizontal-half o-button -outline -alt has-icon">
                    {% include '_svgs/exclamation-circle-regular.svg' %}
                    Alt Outline Button With Icon
                </button>
                <button class="o-button -outline -alt is-disabled">Disabled Alt Outline Button</button>
            </div>
            <div class="o-wrapper u-1/1 u-margin-bottom">
                <button class="u-margin-horizontal-half o-button -raised">Raised Button</button>
                <button class="u-margin-horizontal-half o-button -raised -square">Raised Square Button</button>
                <button class="u-margin-horizontal-half o-button -raised -round">Raised Round Button</button>
                <button class="u-margin-horizontal-half o-button -raised has-icon">
                    {% include '_svgs/exclamation-circle-regular.svg' %}
                    Raised Button With Icon
                </button>
                <button class="o-button -raised is-disabled">Disabled Raised Button</button>
            </div>
        </section>
        <hr>
        <section class="o-container u-text-center u-padding-vertical-x4">
            <h1 class="o-h2 u-margin-bottom">Icon Buttons</h1>
            <p class="u-margin-bottom o-wrapper u-1/1">
                Use the following section to style the base icon button object. The SCSS for these objects is located in the sass/objects/icon-button file.
            </p>
            <div class="o-wrapper">
                <button class="o-icon">
                    <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" class="svg-inline--fa fa-twitter fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"></path></svg>
                </button>
                <a href="javascript:void(0);" class="o-icon">
                    <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="github" class="svg-inline--fa fa-github fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512"><path fill="currentColor" d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"></path></svg>
                </a>
            </div>
            <p class="u-margin-vertical">
                You can easily add tooltips to objects by adding a tooltip class. The SCSS for tooltips is located in the sass/objects/tooltip file.
            </p>
            <div class="o-wrapper">
                <button class="o-icon o-tooltip">
                    <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="search" class="svg-inline--fa fa-search fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M508.5 468.9L387.1 347.5c-2.3-2.3-5.3-3.5-8.5-3.5h-13.2c31.5-36.5 50.6-84 50.6-136C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c52 0 99.5-19.1 136-50.6v13.2c0 3.2 1.3 6.2 3.5 8.5l121.4 121.4c4.7 4.7 12.3 4.7 17 0l22.6-22.6c4.7-4.7 4.7-12.3 0-17zM208 368c-88.4 0-160-71.6-160-160S119.6 48 208 48s160 71.6 160 160-71.6 160-160 160z"></path></svg>
                    <span class="o-tooltip_tip">Search</span>
                </button>
            </div>
        </section>
    </article>
    <script type="text/javascript">
        // Background Input
        var backgroundInput = document.body.querySelector('.js-background-input');
        var page = document.body.querySelector('.js-section');
        var selected = null;

        backgroundInput.addEventListener('change', function(e){
            e.preventDefault();

            selected = backgroundInput.value;
            page.classList.remove('-base-background', '-secondary-background', '-dark-background', '-brand-background');
            page.classList.add(selected);
        });
    </script>
{% endblock %}
