{% extends '_layouts/base' %}

{% block content %}
    <section data-template="Forms Page" class="js-section o-container-full u-padding-vertical-x4 u-mobile-padding">
        <h1 class="o-h1 u-text-center">Form Elements</h1>
        <p class="u-text-center o-container-narrow">Please use this page to style the form input elements.</p>
        <div class="o-container-narrow u-text-center">
            <div class="o-wrapper">
                <div class="js-form-square-input o-switch">
                    <div class="o-switch_item">
                        <input type="checkbox" id="id-form-square" value="1" />
                        <label for="id-form-square">
                            <span class="u-margin-right-x2">Square Style</span>
                            <div class="o-switch_icon">
                                <div class="o-switch_track"></div>
                                <div class="o-switch_handle">
                                    <div class="o-switch_circle"></div>
                                </div>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <hr class="u-margin-vertical-x2"/>
        <div class="o-container-narrow">
            {% set form = craft.freeform.form('sampleForm') %}
            <div class="o-form -underline" data-module="BasicForm">
                {{ form.render() }}
            </div>
        </div>
    </section>
{% endblock %}

{# {% js %}
    var formStyleToggle = document.body.querySelector('.js-form-style-input');
    var formStyleInput = formStyleToggle.querySelector('input');
    var formEl = document.body.querySelector('.js-form');

    if(formStyleToggle && formEl) formStyleInput.addEventListener('change', function(e){
        e.preventDefault();
        if(formEl.classList.contains('-solid')){
            formEl.classList.remove('-solid');
            formEl.classList.add('-outline');
            formStyleInput.setAttribute('checked', true);
        }else{
            formEl.classList.add('-solid');
            formEl.classList.remove('-outline');
            formStyleInput.removeAttribute('checked');
        }
    });

    // Square Style Toggle
    var formSquareToggle = document.body.querySelector('.js-form-square-input');
    var formSquareInput = formSquareToggle.querySelector('input');

    if(formSquareToggle && formEl) formSquareInput.addEventListener('change', function(e){
        e.preventDefault();
        if(formEl.classList.contains('-square')){
            formEl.classList.remove('-square');
            formSquareInput.setAttribute('checked', true);
        }else{
            formEl.classList.add('-square');
            formSquareInput.removeAttribute('checked');
        }
    });
{% endjs %} #}
