{% extends '_layouts/base' %}
{% import '_macros/form' as form %}

{% block content %}
    <article data-template="Demo Grid Page" class="o-container -full u-mobile-padding u-padding-bottom-x8 -base-background">
        <section class="o-container u-padding-vertical-x4 o-copy">
            <h1 class="o-h1 u-text-center u-margin-bottom">Grid Demo Page</h1>
        </section>
        <hr/>
        <section class="o-container u-padding-vertical-x4 o-copy">
            <h2 class="o-h3 u-text-center u-margin-bottom">33% Split Layout</h2>
            <div class="o-layout -split-33/33/33  u-1/1 -gutter-large">
                <div class="o-layout_item" style="min-height:512px;border:2px solid #1fb6ff;background-color:#dcf2ff;padding:16px;text-align:center;">Column 1</div>
                <div class="o-layout_item" style="min-height:512px;border:2px solid #1fb6ff;background-color:#dcf2ff;padding:16px;text-align:center;">Column 2</div>
                <div class="o-layout_item" style="min-height:512px;border:2px solid #1fb6ff;background-color:#dcf2ff;padding:16px;text-align:center;">Column 3</div>
                <div class="o-layout_item" style="min-height:512px;border:2px solid #1fb6ff;background-color:#dcf2ff;padding:16px;text-align:center;">Column 4</div>
                <div class="o-layout_item" style="min-height:512px;border:2px solid #1fb6ff;background-color:#dcf2ff;padding:16px;text-align:center;">Column 5</div>
            </div>
        </section>
        <section class="o-container u-padding-vertical-x4 o-copy">
            <h2 class="o-h3 u-text-center u-margin-bottom">33% Split Grid</h2>
            <div class="o-grid -split-33/33/33  u-1/1 -gutter-large">
                <div class="o-grid_item u-ratio-1/1" style="border:2px solid #1fb6ff;background-color:#dcf2ff;padding:16px;justify-content:center;align-items:center;"><span style="position:absolute;">Item 1</span></div>
                <div class="o-grid_item u-ratio-1/1" style="border:2px solid #1fb6ff;background-color:#dcf2ff;padding:16px;justify-content:center;align-items:center;"><span style="position:absolute;">Item 2</span></div>
                <div class="o-grid_item u-ratio-1/1" style="border:2px solid #1fb6ff;background-color:#dcf2ff;padding:16px;justify-content:center;align-items:center;"><span style="position:absolute;">Item 3</span></div>
                <div class="o-grid_item u-ratio-1/1" style="border:2px solid #1fb6ff;background-color:#dcf2ff;padding:16px;justify-content:center;align-items:center;"><span style="position:absolute;">Item 4</span></div>
                <div class="o-grid_item u-ratio-1/1" style="border:2px solid #1fb6ff;background-color:#dcf2ff;padding:16px;justify-content:center;align-items:center;"><span style="position:absolute;">Item 5</span></div>
            </div>
        </section>
    </article>
{% endblock %}
