{% extends '_layouts/base.twig' %}

{% block content %}
    <section data-template="home">
        {# Remove Below #}
            <div class="o-container-narrow u-padding-vertical-x8">
                <h1 class="o-h1">Success!</h1>
                <p>Use the information below to get started with this framework.</p>
                <h2 class="o-h5 u-margin-bottom-thin">Login</h2>
                <code class="u-margin-bottom" style="background:#fafafa;border-radius:4px;line-height:42px;padding:0 1rem;heigth:42px;display:inline-block;">kylea@page.works</code>
                <h2 class="o-h5 u-margin-bottom-thin">Password</h2>
                <code class="u-margin-bottom-x2" style="background:#fafafa;border-radius:4px;line-height:42px;padding:0 1rem;heigth:42px;display:inline-block;">boilerplate</code>
                <div class="o-wrapper u-1/1" style="margin:0 -8px;">
                    <a href="{{ siteUrl }}webmaster" class="o-button -outline u-margin-horizontal-thin">Login</a>
                    <a target="_blank"  href="{{ siteUrl }}example" class="o-button -outline u-margin-horizontal-thin">Example Page</a>
                    <a target="_blank"  href="{{ siteUrl }}form" class="o-button -outline u-margin-horizontal-thin">Sample Form</a>
                </div>
            </div>
        {# Remove Above #}
    </section>
{% endblock %}
