{% extends '_layouts/base.twig' %}

{% block content %}
    <section data-template="home">
        {# Remove Below #}
            <div class="o-container-narrow u-padding-vertical-x8">
                <h1 class="o-h1">Success!</h1>
                <p>Use the information below to get started with this framework.</p>
                <h2 class="o-h5 u-margin-bottom-thin">Login</h2>
                <code class="u-margin-bottom">kylea@page.works</code>
                <h2 class="o-h5 u-margin-bottom-thin">Password</h2>
                <code class="u-margin-bottom-x2">boilerplate</code>
                <div class="o-wrapper u-1/1">
                    <a href="{{ siteUrl }}webmaster" class="o-button -outline u-margin-right">Login</a>
                    <a href="{{ siteUrl }}example" class="o-button -outline">Example Page</a>
                </div>
            </div>
        {# Remove Above #}
    </section>
{% endblock %}
