{% extends '_layouts/base.twig' %}

{% block content %}
    <section data-template="home" class="-base-background">
        {# Remove Below #}
            <div class="o-container -narrow u-padding-vertical-x8">
                <h1 class="o-h1">Success!</h1>
                <p class="u-margin-bottom-x2">Use the information below to get started with this framework.</p>
                <div class="o-wrapper u-margin-bottom">
                    <h2 class="o-h5 u-margin-bottom-half">Login</h2>
                    <code  style="background:#eeeeee;border-radius:4px;line-height:42px;padding:0 1rem;heigth:42px;display:inline-block;">web@page.works</code>
                </div>
                <div class="o-wrapper u-margin-bottom">
                    <h2 class="o-h5 u-margin-bottom-half">Password</h2>
                    <code style="background:#eeeeee;border-radius:4px;line-height:42px;padding:0 1rem;heigth:42px;display:inline-block;">password</code>
                </div>
                <div class="o-wrapper u-1/1 u-margin-bottom-x2">
                    <a href="{{ siteUrl }}webmaster" class="o-button -outline">Login</a>
                </div>
                <div class="o-wrapper u-1/1" style="margin:0 -8px;">
                    <a href="{{ siteUrl }}example" class="o-button -outline u-margin-horizontal-half">Example Objects</a>
                    <a href="{{ siteUrl }}example-page" class="o-button -outline u-margin-horizontal-half">Example Page</a>
                    <a href="{{ siteUrl }}form" class="o-button -outline u-margin-horizontal-half">Form Styles</a>
                </div>
            </div>
        {# Remove Above #}
    </section>
{% endblock %}
