{% extends '_layouts/base.twig' %}

{% block content %}
    <section data-template="home">
        <a href="{{siteUrl}}">Home</a><br/>
        <a href="{{siteUrl}}test">Test</a><br/>
        <a href="{{siteUrl}}example">Example</a>
    </section>
{% endblock %}