{% extends '_layouts/base.twig' %}

{% block content %}
    <section data-template="home" class="-base-background">
        {# Remove Below #}
            <div class="o-container -narrow u-padding-vertical-x8">
                <h1 class="o-h1">Papertrain</h1>
                <div class="o-wrapper u-1/1 u-margin-bottom-x2">
                    <a href="{{ siteUrl|trim('/') }}/webmaster" class="o-button -outline">Login</a>
                </div>
            </div>
        {# Remove Above #}
    </section>
{% endblock %}
