{% do view.registerCssFile(siteUrl|trim('/') ~ '/assets/styles/REPLACE_ME.' ~ craft.app.config.general.cssCacheBustTimestamp ~ '.css') %}
SCRIPT_PLACEHOLDER

<article id="REPLACE_ME" class="o-container -full" data-template="REPLACE_ME">
    <section class="o-container">
    </section>
</article>
