{% do view.registerCssFile(alias('@rootUrl')|trim('/') ~ '/assets/styles/REPLACE_ME.' ~ craft.app.config.general.cssCacheBustTimestamp ~ '.css') %}
SCRIPT_PLACEHOLDER

{% extends "_layouts/base" %}

{% block content %}
    <article id="REPLACE_ME" class="g-container -full" data-template="REPLACE_ME" MODULE_PLACEHOLDER>
        <section class="g-container">
        </section>
    </article>
{% endblock %}
