// Transitions
// =============================================================================
$speed:         300ms;
$ease:          cubic-bezier(0.4, 0.0, 0.2, 1);
$ease-sharp:    cubic-bezier(0.4, 0.0, 0.6, 1);
$ease-in:       cubic-bezier(0.0, 0.0, 0.2, 1);
$ease-out:      cubic-bezier(0.4, 0.0, 1, 1);
