// Typefaces
// =============================================================================
$font-sans-serif:   'Roboto', 'Circular', sans-serif;
$font-serif:        'Roboto Slab', 'Circular', serif;
$font-heading:      $font-serif;
$font-quote:        'Roboto Slab', 'Circular', cursive;
$font-code:         monospace;

// Weights
// =============================================================================
$light: 300;
$regular: 400;
$medium: 500;
$heavy: 700;

// Typography
// =============================================================================
$font-weight: $regular;
$font-family: $font-sans-serif;
$color: $font-base;

$base-font-size: 1rem;
