// Spacing Units
// =============================================================================
$unit:          1rem;
$unit-half:     $unit/2;
$unit-quarter:  $unit/4;
$base-p-margin: 0 0 $unit;

// Layout
// =============================================================================
$gutter:        $unit;
$gutter-small:  $unit-half;
$gutter-large:  $unit*2;

// Container
// ==========================================================================
$container-width:           1024px;
$narrow-container-width:    680px;
