{% extends '_layouts/base' %}
{% block content %}
    <section class="o-container-full  u-padding-vertical-x8 u-mobile-padding">
        <h1 class="u-text-center u-margin-bottom-x6">Base Elements</h1>
        <div class="o-container">
            <div class="o-layout -gutter">
                <div class="o-layout_item u-1/1 u-margin-bottom-x6">
                    <h2>Sample Content</h2>
                    <p>Praesent ac adipiscing ullamcorper semper ut amet ac risus. Lorem sapien ut odio odio nunc. Ac adipiscing nibh porttitor erat risus justo adipiscing adipiscing amet placerat accumsan. Vis. Faucibus odio magna tempus adipiscing a non. In mi primis arcu ut non accumsan vivamus ac blandit adipiscing adipiscing arcu metus praesent turpis eu ac lacinia nunc ac commodo gravida adipiscing eget accumsan ac nunc adipiscing adipiscing.</p>
                </div>
                <div class="o-layout_item u-1/1 u-1/2@large u-margin-bottom-x6">
                    <h3>Sem turpis amet semper</h3>
                    <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat commodo eu sed ante lacinia. Sapien a lorem in integer ornare praesent commodo adipiscing arcu in massa commodo lorem accumsan at odio massa ac ac. Semper adipiscing varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
                </div>
                <div class="o-layout_item u-1/1 u-1/2@large u-margin-bottom-x6">
                    <h3>Magna odio tempus commodo</h3>
                    <p>In arcu accumsan arcu adipiscing accumsan orci ac. Felis id enim aliquet. Accumsan ac integer lobortis commodo ornare aliquet accumsan erat tempus amet porttitor. Ante commodo blandit adipiscing integer semper orci eget. Faucibus commodo adipiscing mi eu nullam accumsan morbi arcu ornare odio mi adipiscing nascetur lacus ac interdum morbi accumsan vis mi accumsan ac praesent.</p>
                </div>
                <!-- Break -->
                <div class="o-layout_item u-1/1 u-1/3@large u-margin-bottom-x6">
                    <h3>Interdum sapien gravida</h3>
                    <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
                </div>
                <div class="o-layout_item u-1/1 u-1/3@large u-margin-bottom-x6">
                    <h3>Faucibus consequat lorem</h3>
                    <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
                </div>
                <div class="o-layout_item u-1/1 u-1/3@large u-margin-bottom-x6">
                    <h3>Accumsan montes viverra</h3>
                    <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
                </div>
            </div>
        </div>
    </section>
<!-- Content -->
{% endblock %}