{% extends '_layouts/base' %}
{% block content %}
    
<a href="{{siteUrl}}">Home</a><br/>
<a href="{{siteUrl}}test">Test</a><br/>
<a href="{{siteUrl}}example">Example</a>
<div class="o-wrapper -center" data-module="Example">
    <h1>Elements</h1>
</div>
<!-- Content -->
<div class="o-layout -gutter">
    <div class="o-layout_item u-1/1">
        <h2 id="content">Sample Content</h2>
        <p>Praesent ac adipiscing ullamcorper semper ut amet ac risus. Lorem sapien ut odio odio nunc. Ac adipiscing nibh porttitor erat risus justo adipiscing adipiscing amet placerat accumsan. Vis. Faucibus odio magna tempus adipiscing a non. In mi primis arcu ut non accumsan vivamus ac blandit adipiscing adipiscing arcu metus praesent turpis eu ac lacinia nunc ac commodo gravida adipiscing eget accumsan ac nunc adipiscing adipiscing.</p>
    </div>
    <div class="o-layout_item u-1/1 u-1/2@medium">
        <h3>Sem turpis amet semper</h3>
        <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat commodo eu sed ante lacinia. Sapien a lorem in integer ornare praesent commodo adipiscing arcu in massa commodo lorem accumsan at odio massa ac ac. Semper adipiscing varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
    </div>
    <div class="o-layout_item u-1/1 u-1/2@medium">
        <h3>Magna odio tempus commodo</h3>
        <p>In arcu accumsan arcu adipiscing accumsan orci ac. Felis id enim aliquet. Accumsan ac integer lobortis commodo ornare aliquet accumsan erat tempus amet porttitor. Ante commodo blandit adipiscing integer semper orci eget. Faucibus commodo adipiscing mi eu nullam accumsan morbi arcu ornare odio mi adipiscing nascetur lacus ac interdum morbi accumsan vis mi accumsan ac praesent.</p>
    </div>
    <!-- Break -->
    <div class="o-layout_item u-1/1 u-1/3@medium">
        <h3>Interdum sapien gravida</h3>
        <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
    </div>
    <div class="o-layout_item u-1/1 u-1/3@medium">
        <h3>Faucibus consequat lorem</h3>
        <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
    </div>
    <div class="o-layout_item u-1/1 u-1/3@medium">
        <h3>Accumsan montes viverra</h3>
        <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
    </div>
</div>
<hr />
<!-- Elements -->
<div class="o-layout -gutter">
    <div class="o-layout_item u-1/1 u-1/2@medium">
        <!-- Text stuff -->
        <h3>Text</h3>
        <p>This is <b>bold</b> and this is <strong>strong</strong>. This is <i>italic</i> and this is <em>emphasized</em>.
        This is <sup>superscript</sup> text and this is <sub>subscript</sub> text.
        This is <u>underlined</u> and this is code: <code>for (;;) { ... }</code>.
        Finally, this is a <a href="#">link</a>.</p>
        <hr />
        <h2>Heading Level 2</h2>
        <h3>Heading Level 3</h3>
        <h4>Heading Level 4</h4>
        <hr />
        <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>

        <!-- Lists -->
        <h3>Lists</h3>
        <div class="u-1/1 o-layout">
            <div class="o-layout_item u-1/1 u-1/2@medium">
                <h4>Unordered</h4>
                <ul>
                    <li>Dolor etiam magna etiam.</li>
                    <li>Sagittis lorem eleifend.</li>
                    <li>Felis dolore viverra.</li>
                </ul>
                <h4>Alternate</h4>
                <ul class="-alt">
                    <li>Dolor etiam magna etiam.</li>
                    <li>Sagittis lorem eleifend.</li>
                    <li>Felis feugiat viverra.</li>
                </ul>

            </div>
            <div class="o-layout_item u-1/1 u-1/2@medium">
                <h4>Ordered</h4>
                <ol>
                    <li>Dolor etiam magna etiam.</li>
                    <li>Etiam vel lorem sed viverra.</li>
                    <li>Felis dolore viverra.</li>
                    <li>Dolor etiam magna etiam.</li>
                    <li>Etiam vel lorem sed viverra.</li>
                    <li>Felis dolore viverra.</li>
                </ol>

                <h4>Icons</h4>
                <ul class="-none">
                    <li><a href="#"><i class="u-margin-right-tiny fab fa-twitter"></i><span class="label">Twitter</span></a></li>
                    <li><a href="#"><i class="u-margin-right-tiny fab fa-facebook"></i><span class="label">Facebook</span></a></li>
                    <li><a href="#"><i class="u-margin-right-tiny fab fa-instagram"></i><span class="label">Instagram</span></a></li>
                    <li><a href="#"><i class="u-margin-right-tiny fab fa-github"></i><span class="label">Github</span></a></li>
                    <li><a href="#"><i class="u-margin-right-tiny fab fa-dribbble"></i><span class="label">Dribbble</span></a></li>
                    <li><a href="#"><i class="u-margin-right-tiny fab fa-tumblr"></i><span class="label">Tumblr</span></a></li>
                </ul>
            </div>
        </div>
        <h4>Definition</h4>
        <dl>
            <dt>Item1</dt>
            <dd>
                <p>Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent.</p>
            </dd>
            <dt>Item2</dt>
            <dd>
                <p>Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent.</p>
            </dd>
            <dt>Item3</dt>
            <dd>
                <p>Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent.</p>
            </dd>
        </dl>

        <h4>Actions</h4>
        <div class="o-layout u-1/1">
            <div class="o-layout_item u-1/1 u-1/2@medium">
                <ul class="-none">
                    <li><a href="#" class="o-button -filled">Default</a></li>
                    <li><a href="#" class="o-button -outline">Default</a></li>
                </ul>
            </div>
            <div class="o-layout_item u-1/1 u-1/2@medium">
                <ul class="-none">
                    <li><a href="#" class="o-button -filled -small">Small</a></li>
                    <li><a href="#" class="o-button -outline -small">Small</a></li>
                </ul>
            </div>
            <div class="o-layout_item u-1/1">
                <ul class="-none">
                    <li><a href="#" class="o-button -filled -fit">Default Fit</a></li>
                    <li><a href="#" class="o-button -outline -fit">Default Fit</a></li>
                </ul>
                <ul class="-none">
                    <li><a href="#" class="o-button -filled -small -fit">Small Fit</a></li>
                    <li><a href="#" class="o-button -small -outline -fit">Small Fit</a></li>
                </ul>
            </div>
        </div>
        <!-- Blockquote -->
        <h3>Blockquote</h3>
        <blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan faucibus. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis.</blockquote>
        <!-- Table -->
        <h3>Table</h3>
        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Item1</td>
                        <td>Ante turpis integer aliquet porttitor.</td>
                        <td>29.99</td>
                    </tr>
                    <tr>
                        <td>Item2</td>
                        <td>Vis ac commodo adipiscing arcu aliquet.</td>
                        <td>19.99</td>
                    </tr>
                    <tr>
                        <td>Item3</td>
                        <td> Morbi faucibus arcu accumsan lorem.</td>
                        <td>29.99</td>
                    </tr>
                    <tr>
                        <td>Item4</td>
                        <td>Vitae integer tempus condimentum.</td>
                        <td>19.99</td>
                    </tr>
                    <tr>
                        <td>Item5</td>
                        <td>Ante turpis integer aliquet porttitor.</td>
                        <td>29.99</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2"></td>
                        <td>100.00</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="o-layout_item u-1/1 u-1/2@medium">
        <!-- o-buttons -->
        <h3>Buttons</h3>
        <div class="o-layout u-1/1">
            <div class="o-layout_item u-1/1 u-1/2@medium">
                <ul class="-none">
                    <li><a href="#" class="o-button -filled">Filled</a></li>
                    <li><a href="#" class="o-button -outline">Outline</a></li>
                </ul>
            </div>
            <div class="o-layout_item u-1/1 u-1/2@medium">
                <ul class="-none">
                    <li><a href="#" class="o-button -filled -big">Big Filled</a></li>
                    <li><a href="#" class="o-button -outline">Default</a></li>
                </ul>
            </div>
        </div>
        <ul class="-none">
            <li><a href="#" class="o-button -filled -fit">Fit + Filled</a></li>
            <li><a href="#" class="o-button -fit -outline">Fit + Outline</a></li>
        </ul>
        <ul class="-none">
            <li><a href="#" class="o-button -filled -fit -small">Fit + Small</a></li>
            <li><a href="#" class="o-button -fit -small -outline">Fit + Small</a></li>
        </ul>
        <div class="o-layout u-1/1">
            <div class="o-layout_item u-1/1 u-1/2@medium">
                <ul class="-none">
                    <li><a href="#" class="o-button -filled"><i class="u-margin-right-tiny fas fa-search"></i>Icon</a></li>
                    <li><a href="#" class="o-button -outline"><i class="u-margin-right-tiny fas fa-download"></i>Icon</a></li>
                </ul>
            </div>
            <div class="o-layout_item u-1/1 u-1/2@medium">
                <ul class="-none">
                    <li><span class="o-button -filled -disabled">Disabled</span></li>
                    <li><span class="o-button -disabled -outline">Disabled</span></li>
                </ul>
            </div>
        </div>
        <!-- Form -->
        <h3>Form</h3>
        <form class="o-layout" method="post" action="return false">
            <input class="o-input o-layout_item u-1/1" type="text" name="name" id="name" value="" placeholder="Name" />
            <input class="o-input o-layout_item u-1/1" type="email" name="email" id="email" value="" placeholder="Email" />
            <!-- Break -->
            <div class="o-layout_item u-1/2 o-select-wrap">
                <span class="o-select-icon fas fa-chevron-circle-down"></span>
                <select class="u-1/1" name="category" id="category">
                    <option value="">- Category -</option>
                    <option value="1">Manufacturing</option>
                    <option value="1">Shipping</option>
                    <option value="1">Administration</option>
                    <option value="1">Human Resources</option>
                </select>
            </div>
            <!-- Break -->
            <div class="o-layout_item u-1/1">
                <div class="u-1/3 o-wrapper">
                    <input class="o-radio" type="radio" id="priority-low" name="priority" checked>
                    <label class="o-radio-label" for="priority-low"><span class="o-icon fas fa-check"></span>Low</label>
                </div>
                <div class="u-1/3 o-wrapper">
                    <input type="radio" id="priority-normal" name="priority">
                    <label class="o-radio-label" for="priority-normal"><span class="o-icon fas fa-check"></span>Normal</label>
                </div>
                <div class="u-1/3 o-wrapper">
                    <input type="radio" id="priority-high" name="priority">
                    <label class="o-radio-label" for="priority-high"><span class="o-icon fas fa-check"></span>High</label>
                </div>
            </div>
            <div class="o-layout_item u-1/1">
                <input class="o-checkbox" type="checkbox" id="copy" name="copy">
                <label class="o-checkbox-label" for="copy"><span class="o-icon fas fa-check"></span>Email me a copy</label>
            </div>
            <div class="o-layout_item u-1/1">
                <input class="o-checkbox" type="checkbox" id="human" name="human" checked>
                <label class="o-checkbox-label" for="human"><span class="o-icon fas fa-check"></span>I am a human</label>
            </div>
            <textarea class="o-layout_item u-1/1" name="message" id="message" placeholder="Enter your message" rows="6"></textarea>
            <ul class="o-layout_item u-1/1 -none -inline">
                <li class="u-margin-right-thin" ><input type="submit" value="Send Message" class="o-button -filled o-submit" /></li>
                <li class="u-margin-right-thin" ><input type="reset" value="Reset" class="o-button -outline o-reset" /></li>
            </ul>
        </form>

        <!-- Image -->
        <h3>Image</h3>

        <h4>Fit</h4>
        <div class="o-layout_item u-1/1" style="border-radius:4px;height:185px;background: url(http://pinnacle.website.local/uploads/erik-stine-46332-unsplash.jpg);background-position:center;background-size:cover;background-repeat:no-repeat;"></div>
        <ul class="-none -inline o-layout_item u-1/1">
                <li class="u-1/1 u-1/3@medium" style="max-width:200px;margin:0.5em;border-radius:4px;overflow:hidden;"><img style="width:100%;height:125px;object-fit:cover;" src="http://pinnacle.website.local/uploads/erik-stine-46332-unsplash.jpg" alt="" /></li>
                <li class="u-1/1 u-1/3@medium" style="max-width:200px;margin:0.5em;border-radius:4px;overflow:hidden;"><img style="width:100%;height:125px;object-fit:cover;" src="http://pinnacle.website.local/uploads/erik-stine-46332-unsplash.jpg" alt="" /></li>
                <li class="u-1/1 u-1/3@medium" style="max-width:200px;margin:0.5em;border-radius:4px;overflow:hidden;"><img style="width:100%;height:125px;object-fit:cover;" src="http://pinnacle.website.local/uploads/erik-stine-46332-unsplash.jpg" alt="" /></li>
                <li class="u-1/1 u-1/3@medium" style="max-width:200px;margin:0.5em;border-radius:4px;overflow:hidden;"><img style="width:100%;height:125px;object-fit:cover;" src="http://pinnacle.website.local/uploads/erik-stine-46332-unsplash.jpg" alt="" /></li>
                <li class="u-1/1 u-1/3@medium" style="max-width:200px;margin:0.5em;border-radius:4px;overflow:hidden;"><img style="width:100%;height:125px;object-fit:cover;" src="http://pinnacle.website.local/uploads/erik-stine-46332-unsplash.jpg" alt="" /></li>
                <li class="u-1/1 u-1/3@medium" style="max-width:200px;margin:0.5em;border-radius:4px;overflow:hidden;"><img style="width:100%;height:125px;object-fit:cover;" src="http://pinnacle.website.local/uploads/erik-stine-46332-unsplash.jpg" alt="" /></li>
                <li class="u-1/1 u-1/3@medium" style="max-width:200px;margin:0.5em;border-radius:4px;overflow:hidden;"><img style="width:100%;height:125px;object-fit:cover;" src="http://pinnacle.website.local/uploads/erik-stine-46332-unsplash.jpg" alt="" /></li>
                <li class="u-1/1 u-1/3@medium" style="max-width:200px;margin:0.5em;border-radius:4px;overflow:hidden;"><img style="width:100%;height:125px;object-fit:cover;" src="http://pinnacle.website.local/uploads/erik-stine-46332-unsplash.jpg" alt="" /></li>
                <li class="u-1/1 u-1/3@medium" style="max-width:200px;margin:0.5em;border-radius:4px;overflow:hidden;"><img style="width:100%;height:125px;object-fit:cover;" src="http://pinnacle.website.local/uploads/erik-stine-46332-unsplash.jpg" alt="" /></li>
        </ul>

        <h4>Left &amp; Right</h4>
        <p class="u-text-justify" ><span class="u-float-left" style="margin:0 1.5em 1em 0;top:0.25em;border-radius:4px;overflow:hidden;"><img style="width:200px;height:125px;object-fit:cover;" src="http://pinnacle.website.local/uploads/erik-stine-46332-unsplash.jpg" alt="" /></span>Lorem ipsum dolor sit accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget tempus iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Vestibulum ante ipsum primis in faucibus magna blandit adipiscing eu felis iaculis volutpat lorem ipsum dolor sit amet dolor consequat.</p>
        <p class="u-text-justify" ><span class="u-float-right" style="margin:0 0 1em 1.5em;top:0.25em;border-radius:4px;overflow:hidden;"><img style="width:200px;height:125px;object-fit:cover;" src="http://pinnacle.website.local/uploads/erik-stine-46332-unsplash.jpg" alt="" /></span>Lorem ipsum dolor sit accumsan interdum nisi, quis tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Vestibulum ante ipsum primis sagittis eget. tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget tempus iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent. Vestibulum ante ipsum primis in faucibus magna blandit adipiscing eu felis iaculis volutpat lorem ipsum dolor sit amet dolor consequat.</p>
    </div>
</div>
{% endblock %}