// Generic
// ==========================================================================

hr
{
    border: 0;
    border-bottom: solid 1px $black;
    opacity: 0.12;
    margin: 0;
    display: block;

    section.-dark-background & {
        border-color: $white;
    }
}

a
{
    color: $link-color;
    text-decoration-skip-ink: none;
    text-decoration: $link-style;
    transition: color 50ms $ease, text-decoration 50ms $ease;

    @include u-hocus
    {
        color: $link-hover-color;
        text-decoration: $link-hover-style;
        transition: color 75ms $ease, text-decoration 75ms $ease;
    }
}

ol{
    padding: 8px 0 0 16px;
    margin: 0;
    font-size: 16px;
    text-align: left;

    ul,ol{
        padding-bottom: 2px;
    }
}

ul{
    padding: 8px 0 0 16px;
    margin: 0;
    font-size: 16px;
    text-align: left;

    ul,ol{
        padding-bottom: 2px;
    }

    li{
        list-style-type: disc;
        min-height: 24px;
    }

    &.-circle{
        li{
            list-style-type: circle;
        }
    }

    &.-square{
        li{
            list-style-type: square;
        }
    }
}

p{
    margin: $base-margin;
}

code{
    background: rgba(144,144,144,0.075);
    border-radius: 4px;
    border: solid 1px $off-white;
    font-family: $font-code;
    font-size: 0.9em;
    margin: 0 0.25em;
    padding: 0.25em 0.65em;
    white-space: nowrap;
}

blockquote{
    border-left: solid 4px $off-white;
    font-style: italic;
    font-family: $font-quote;
    margin: 0 0 2em 0;
    padding: 0.5em 0 0.5em 2em;
    quotes: none;
    font-weight: $light;
    font-size: 16pt;
}

dl{
    margin: $base-margin;
    padding: 0;
    border: 0;

    dt{
        display: block;
        font-weight: $medium;
        margin: 0 0 1em 0;
    }

    dd{
        margin-left: 2em;
    }
}