// Generic
// ==========================================================================

hr
{
    border: 0;
    border-bottom: solid 1px $black;
    opacity: 0.12;
    margin: 0;
    display: block;

    section.-dark-background & {
        border-color: $white;
    }
}

a
{
    &:not(.o-button){
        color: $link-color;
        text-decoration-skip-ink: none;
        text-decoration: $link-style;
        transition: color 50ms $ease, text-decoration 50ms $ease;

        @include u-hocus{
            color: $link-hover-color;
            text-decoration: $link-hover-style;
            transition: color 75ms $ease, text-decoration 75ms $ease;
        }
    }
}

ol{
    padding: 8px 0 0 16px;
    margin: 0;
    font-size: 16px;
    text-align: left;

    ul,ol{
        padding-bottom: 2px;
    }

    li ul li{
        list-style-type: disc;
    }
}

ul{
    padding: 8px 0 0 16px;
    margin: 0;
    font-size: 16px;
    text-align: left;

    ul,ol{
        padding-bottom: 2px;
    }

    li{
        list-style-type: disc;
        min-height: 24px;
    }

    &.-circle,
    li ul{
        li{
            list-style-type: circle;
        }
    }

    &.-square,
    li ul li ul{
        li{
            list-style-type: square;
        }
    }
}

p{
    margin: $base-margin;
}

code{
    background: rgba(144,144,144,0.075);
    border-radius: 4px;
    border: solid 1px $off-white;
    font-family: $font-code;
    font-size: 0.9em;
    margin: 0 0.25em;
    padding: 0.25em 0.65em;
    white-space: nowrap;
}

blockquote{
    border-left: solid 3px rgba($primary, 0.15);
    font-family: $font-quote;
    margin: 0 0 0 -1rem !important;
    padding: 0 0 0 1rem;
    quotes: none;
    font-size: 1.25rem;
    letter-spacing: 0.0125rem;
    line-height: 2rem;
    text-align: justify;
    color: rgba($primary, 0.87);

    section.-dark-background &,
    section.has-image &,
    section.has-video & {
        color: rgba($font-alt, 0.87);
        border-left-color: rgba($font-alt, 0.15);
    }
}

dl{
    margin: $base-margin;
    padding: 0;
    border: 0;

    dt{
        display: block;
        font-weight: $medium;
        margin: 0 0 1em 0;
    }

    dd{
        margin-left: 2em;
    }
}