// Headings
// ==========================================================================

/**
 * This section adjusts the base headings style such as colour, weights, and size
 * to adjust line heights please visit the readability SCSS file.
 * @see `base/_readability.scss`
 */

@mixin  h {
    padding: 0;
    margin: 0;
    text-transform: capitalize;
}

h1,
.o-h1
{
    font-size: 2.625rem;
    letter-spacing: -0.0357rem;
    font-weight: $light;
    font-family: $font-heading;
    @include h;
    color: contrast($base-background-color, 0.87);

    section.-dark-background &,
    section.has-image &,
    section.has-video & {
        color: contrast($dark-background-color, 0.87);
    }
}

h2,
.o-h2
{
    font-size: 2.0625rem;
    letter-spacing: -0.015rem;
    font-weight: $light;
    font-family: $font-heading;
    @include h;
    color: contrast($base-background-color, 0.87);

    section.-dark-background &,
    section.has-image &,
    section.has-video & {
        color: contrast($dark-background-color, 0.87);
    }
}

h3,
.o-h3
{
    font-size: 1.625rem;
    letter-spacing: 0;
    font-weight: $regular;
    font-family: $font-heading;
    @include h;
    color: contrast($base-background-color, 0.87);

    section.-dark-background &,
    section.has-image &,
    section.has-video & {
        color: contrast($dark-background-color, 0.87);
    }
}

h4,
.o-h4
{
    font-size: 1.25rem;
    letter-spacing: 0.0125rem;
    font-weight: $regular;
    font-family: $font-heading;
    @include h;
    color: contrast($base-background-color, 0.6);

    section.-dark-background &,
    section.has-image &,
    section.has-video & {
        color: contrast($dark-background-color, 0.6);
    }
}

h5,
.o-h5,
.o-headline,
.o-title
{
    font-size: 1rem;
    letter-spacing: 0;
    font-weight: $heavy;
    font-family: $font-heading;
    @include h;
    color: contrast($base-background-color, 0.87);

    section.-dark-background &,
    section.has-image &,
    section.has-video & {
        color: contrast($dark-background-color, 0.87);
    }
}

h6,
.o-h6,
.o-subtitle
{
    font-size: 0.8125rem;
    letter-spacing: 0.0.115rem;
    font-weight: $regular;
    font-family: $font-heading;
    @include h;
    color: contrast($base-background-color, 0.6);

    section.-dark-background &,
    section.has-image &,
    section.has-video & {
        color: contrast($dark-background-color, 0.6);
    }
}