// Headings
// ==========================================================================

@mixin  h {
    padding: 0;
    margin: 0;
    text-transform: capitalize;
}

h1,
.o-h1
{
    font-size: 96px;
    letter-spacing: -1.5px;
    font-weight: $light;
    font-family: $font-heading;
    @include h;
    color: rgba($black, 0.87);

    section.-dark-background & {
        color: rgba($white, 0.87);
    }
}

h2,
.o-h2
{
    font-size: 60px;
    letter-spacing: -0.5px;
    font-weight: $light;
    font-family: $font-heading;
    @include h;
    color: rgba($black, 0.87);

    section.-dark-background & {
        color: rgba($white, 0.87);
    }
}

h3,
.o-h3
{
    font-size: 48px;
    letter-spacing: 0;
    font-weight: $regular;
    font-family: $font-heading;
    @include h;
    color: rgba($black, 0.87);

    section.-dark-background & {
        color: rgba($white, 0.87);
    }
}

h4,
.o-h4
{
    font-size: 34px;
    letter-spacing: 0.25px;
    font-weight: $regular;
    font-family: $font-heading;
    @include h;
    color: rgba($black, 0.60);

    section.-dark-background & {
        color: rgba($white, 0.60);
    }
}

h5,
.o-h5,
.o-headline
{
    font-size: 24px;
    letter-spacing: 0;
    font-weight: $regular;
    font-family: $font-heading;
    @include h;
    color: rgba($black, 0.60);

    section.-dark-background & {
        color: rgba($white, 0.60);
    }
}

h6,
.o-h6,
.o-title
{
    font-size: 20px; 
    letter-spacing: 0.15px;
    font-weight: $medium;
    font-family: $font-heading;
    @include h;
    color: rgba($black, 0.87);

    section.-dark-background & {
        color: rgba($white, 0.87);
    }
}

.o-subtitle{
    font-size: 16px;
    letter-spacing: 0.15px;
    font-weight: $regular;
    font-family: $font-heading;
    @include h;
    color: rgba($black, 0.60);

    section.-dark-background & {
        color: rgba($white, 0.60);
    }
}