// Accordion Background Config
// ==========================================================================
.o-accordion{
    .-base-background & {
        .o-accordion_headline{
            h3{
                color: rgba($off-black, 0.87);
            }

            .o-accordion_icon{
                .o-accordion_line{
                    background-color: $primary;
                }
            }

            &:after{
                background-color: contrast($base-background-color, 0.1);
            }
        }
    }

    .-secondary-background & {
        .o-accordion_headline{
            h3{
                color: rgba($off-black, 0.87);
            }

            .o-accordion_icon{
                .o-accordion_line{
                    background-color: $primary;
                }
            }

            &:after{
                background-color: contrast($base-background-color, 0.1);
            }
        }
    }

    .-brand-background & {
        .o-accordion_headline{
            h3{
                color: contrast($brand-background-color, 0.87);
            }

            .o-accordion_icon{
                .o-accordion_line{
                    background-color: $primary-alt;
                }
            }

            &:after{
                background-color: contrast($brand-background-color, 0.15);
            }
        }
    }
}

// Accordion Config
// ==========================================================================
.o-accordion{
    &.-grounded{
        .o-accordion_row{
            position: relative;
            padding: $unit 0;

            &::after{
                content:"";
                transform-origin: center;
                @include size(100%, 2px);
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: $light-gray;
            }

            &.is-open{
                .o-accordion_headline{
                    .o-accordion_icon{
                        .o-accordion_line{
                            &.-vertical{
                                transform: rotate(90deg);
                            }
                        }
                    }
                }
            }

            .o-accordion_headline{
                .o-accordion_icon{
                    @include position(absolute, 30px 0 null null);
                    transform: translateY(-50%);
                    @include size(20px, 64px);
                    display: inline-flex;
                    align-items: center;
                    justify-items: center;

                    .o-accordion_line{
                        display: inline-block;
                        position: absolute;
                        transition: all $speed $ease;

                        &.-vertical{
                            @include size(3px, 23px);
                            transform-origin: center;
                            transform: rotate(0);
                            opacity: 1;
                            transition: transform $speed $ease;
                        }

                        &.-horizontal{
                            @include size(23px, 3px);
                            transform: translateX(-10px);
                            opacity: 1;
                        }
                    }
                }
            }

            .o-accordion_body{
                overflow: hidden;
                padding: 0;
                margin: 0;
                height: 0;
            }
        }
    }

    &.-default{
        .o-accordion_row{
            display: block;
            margin: 0;
            transition: margin-bottom $speed $ease;

            &.is-open{
                margin-bottom: $unit*2;

                .o-accordion_headline{
                    &:after{
                        transform: scaleX(1);
                        opacity: 1;
                        transition: transform 300ms $ease-in, opacity 75ms 0ms $ease-in;
                    }

                    .o-accordion_icon{
                        .o-accordion_line{
                            &.-vertical{
                                transform: scaleY(0);
                                opacity: 0;
                            }

                            &.-right{
                                transform: translateX(1px)  translateY(4px) rotate(-45deg);
                                width: 15px;
                            }

                            &.-left{
                                width: 10px;
                                transform: translateX(-100%) rotate(45deg);
                            }
                        }
                    }
                }
            }

            .o-accordion_headline{
                position: relative;
                display: block;
                height: 32px;
                cursor: pointer;
                margin-bottom: 24px;

                &::after{
                    content:"";
                    transform-origin: center;
                    transform: scaleX(0);
                    opacity: 0;
                    @include size(100%, 2px);
                    position: absolute;
                    top: calc(32px + 8px);
                    left: 0;
                    transition: transform 300ms $ease-out, opacity 75ms 225ms $ease-out;
                }

                h3{
                    font-size: $base-font-size * 1.618 + 1px;
                    line-height: 32px;
                    pointer-events: none;
                }

                .o-accordion_icon{
                    @include position(absolute, 50% 0 null null);
                    transform: translateY(-50%);
                    @include size(20px, 64px);
                    display: inline-flex;
                    align-items: center;
                    justify-items: center;
                    pointer-events: none;

                    .o-accordion_line{
                        display: inline-block;
                        position: absolute;
                        transition: all $speed $ease;

                        &.-vertical{
                            @include size(3px, 23px);
                            transform-origin: top;
                            transform: scaleY(1);
                            opacity: 1;
                            transition: transform $speed $ease;
                        }

                        &.-right,
                        &.-left{
                            @include size(10px, 3px);
                        }

                        &.-right{
                            transform-origin: left;
                            transform: translateX(3px);
                            transition: all $speed $ease;
                        }

                        &.-left{
                            transform-origin: right;
                            transform: translateX(-10px);
                            transition: all $speed $ease;
                        }
                    }
                }
            }

            .o-accordion_body{
                overflow: hidden;
                height: 0;
                padding: 0 $unit;
                text-align: justify;

                .o-accordion_copy{
                    &.-single-column{
                        column-count: 1;
                    }

                    &.-double-column{
                        column-count: 2;
                        column-gap: $unit*2;
                    }

                    &.-tripple-column{
                        column-count: 3;
                        column-gap: $unit*2;
                    }
                }
            }
        }
    }
}
