// Background Color Config
// ==========================================================================
.o-button{
    .-base-background & {
        color: $primary;

        &:before{
            background-color: $primary;
        }

        &.-solid{
            color: contrast($primary);
            background: $primary;

            &:before{
                background-color: contrast($primary);
            }
        }

        &.-outline{
            border-color: $primary;

            &.-alt{
                border-color: rgba(contrast($base-background-color), 0.1);

                @include hover{
                    border-color: $primary;
                }
            }
        }

        &.-raised{
            background-color: $primary;
            color: contrast($primary);
            box-shadow: 0 2px 8px rgba($black, 0.3);

            @include hover{
                box-shadow: 0 2px 8px rgba($black, 0.6);
            }

            &:before{
                background-color: contrast($primary);
            }
        }
    }

    .-secondary-background & {
        color: $primary;

        &:before{
            background-color: $primary;
        }

        &.-solid{
            color: contrast($primary);
            background: $primary;

            &:before{
                background-color: contrast($primary);
            }
        }

        &.-outline{
            border-color: $primary;

            &.-alt{
                border-color: rgba(contrast($secondary-background-color), 0.1);

                @include hover{
                    border-color: $primary;
                }
            }
        }

        &.-raised{
            background-color: $primary;
            color: contrast($primary);
            box-shadow: 0 2px 8px rgba($black, 0.3);

            @include hover{
                box-shadow: 0 2px 8px rgba($black, 0.6);
            }

            &:before{
                background-color: contrast($primary);
            }
        }
    }

    .-dark-background & {
        color: $primary-alt;

        &:before{
            background-color: $primary-alt;
        }

        &.-solid{
            color: contrast($primary-alt);
            background: $primary-alt;

            &:before{
                background-color: contrast($primary-alt);
            }
        }

        &.-outline{
            border-color: $primary-alt;

            &.-alt{
                border-color: rgba(contrast($dark-background-color), 0.1);

                @include hover{
                    border-color: $primary-alt;
                }
            }
        }

        &.-raised{
            background-color: $primary-alt;
            color: contrast($primary-alt);
            box-shadow: 0 2px 8px rgba($black, 0.3);

            @include hover{
                box-shadow: 0 2px 8px rgba($black, 0.6);
            }

            &:before{
                background-color: contrast($primary-alt);
            }
        }
    }

    .-brand-background & {
        color: $primary-alt;

        &:before{
            background-color: $primary-alt;
        }

        &.-solid{
            color: contrast($primary-alt);
            background: $primary-alt;

            &:before{
                background-color: contrast($primary-alt);
            }
        }

        &.-outline{
            border-color: $primary-alt;

            &.-alt{
                border-color: rgba(contrast($brand-background-color), 0.1);

                @include hover{
                    border-color: $primary-alt;
                }
            }
        }

        &.-raised{
            background-color: $primary-alt;
            color: contrast($primary-alt);
            box-shadow: 0 2px 8px rgba($black, 0.3);

            @include hover{
                box-shadow: 0 2px 8px rgba($black, 0.6);
            }

            &:before{
                background-color: contrast($primary-alt);
            }
        }
    }
}

// Buttons Style Config
// ==========================================================================

.o-button{
    // Font
    font-weight: $medium;
    font-size: 14px;
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;
    line-height: 38px;
    opacity: 0.87;

    // Size
    padding: 0 $unit-half;
    height: 36px;

    // Base
    margin: 0;
    display: inline-block;
    user-select: none;
    overflow: hidden;
    background: transparent;
    position: relative;
    border-radius: 4px;

    &::before{
        content:"";
        display: inline-block;
        opacity: 0;
        @include position(absolute, 0 null null 0);
        @include size(100%, 100%);
        pointer-events: none;
    }

    @include hover{
        &:before{
            opacity: $primary-hover-opacity;
            transition: opacity 150ms $ease-in;
        }
    }

    @include active{
        &:before{
            opacity: $primary-active-opacity;
            transition: opacity 75ms $ease-sharp;
        }
    }

    // Modifier Classes
    &.is-disabled{
        background: rgba($black,0.1) !important;
        color: rgba($black,0.26) !important;
        border: 2px solid rgba($black, 0.1) !important;
        line-height: 34px !important;
        box-shadow: none !important;

        &:before{
            display: none;
        }
    }

    &.-wide{
        display: block;
    }

    &.-square{
        border-radius: 0;
    }

    &.-round{
        border-radius: 17px;
        padding: 0 $unit !important;
    }

    &.has-icon{
        padding: 0 $unit 0 $unit - $unit-quarter !important;

        svg{
            @include size(18px, 18px);
            transform: translateY(3px);
            margin-right: $unit-half;
        }
    }

    // Solid
    &.-solid{
        padding: 0 $unit;

        @include hover{
            &:before{
                opacity: $primary-hover-opacity;
            }
        }

        @include active{
            &:before{
                opacity: $primary-active-opacity;
            }
        }
    }

    // Outline
    &.-outline{
        padding: 0 $unit;
        border-width: 2px;
        border-style: solid;
        line-height: 34px;

        &.-alt{
            transition: border-color 150ms $ease;
        }
    }

    // Raised
    &.-raised{
        padding: 0 $unit;
        transition: box-shadow 150ms $ease-out;

        @include hover{
            transition: box-shadow 150ms $ease-in;

            &:before{
                opacity: $primary-hover-opacity;
            }
        }

        @include active{
            &:before{
                opacity: $primary-active-opacity;
            }
        }
    }
}
