// Containers
// ==========================================================================

//
// Page-level constraining and wrapping elements.
//
// > In programming languages the word *container* is generally used for structures
// that can contain more than one element.
// > A *wrapper* instead is something that wraps around a single object to provide
// more functionalities and interfaces to it.
// @link http://stackoverflow.com/a/13202141/140357
//

.o-container{
    max-width: $container-width;
    margin-right: auto !important;
    margin-left: auto !important;
    width: 100%;
    @include u-flexbox;

    &:not(.-full){
        @media (max-width: $screen-xsmall){
            padding-left: 24px !important;
            padding-right: 24px !important;
        }
        @media (min-width: $screen-xsmall) and (max-width: $container-width + 32px){
            padding-left: 32px !important;
            padding-right: 32px !important;
        }
    }

    &.-full{
        max-width: none;
        margin: 0;
        overflow-x: hidden;
    }

    &.-narrow{
        max-width: $narrow-container-width;
        margin-right: auto !important;
        margin-left: auto !important;

        @media (max-width: $screen-xsmall){
            padding-left: 24px !important;
            padding-right: 24px !important;
        }
        @media (min-width: $screen-xsmall) and (max-width: $narrow-container-width + 32px){
            padding-left: 32px !important;
            padding-right: 32px !important;
        }
    }
}

.o-wrapper{
    position: relative;
    display: inline-block;

    &.-center{
        display: block;
        text-align: center;
        margin: 0 auto;
    }
}
