// Forms
// ==========================================================================

form{
    padding: 0;
    margin: 0;

    .o-input{
        height: 56px;
        overflow: hidden;
        position: relative;

        &.is-invalid{
            label{
                color: $error !important;
                font-size: 12px !important;
                bottom: 34px !important;
            }
        }

        .-visible,
        .-hidden{
            @include position(absolute, 50% 12px null null);
            transform: translateY(-50%);
            color: $off-black;
            cursor: pointer;
        }

        // Used for password and pin inputs
        // The password field is hidden (default)
        &.has-content-hidden{
            .-visible{
                display: none;
            }

            .-hidden{
                display: inline-block;
            }
        }

        // Used for password and pin inputs
        // The password field is visible
        &.has-content-visible{
            .-visible{
                display: inline-block;
            }

            .-hidden{
                display: none;
            }
        }
    }

    input{
        border: none;
        padding: 20px 12px 6px;
        background: transparent;
        color: rgba($black, 0.87);
        width: 100%;
        font-size: 16px;
        line-height: 16px;

        ::placeholder{
            color: rgba($black, 0.87);
        }

        &:invalid{
            box-shadow: none;
        }

        &:focus,
        &:active{
            box-shadow: none;
            border: none;
            outline: none;
        }
    }

    // &.-outline{

    // }

    &.-solid{
        .o-input{
            html.has-js & {
                &::after{
                    content: "";
                    @include size(100%, 2px);
                    @include position(absolute, null null 0 0);
                    transform: scaleX(0);
                    display: inline-block;
                    transition: transform 75ms $ease-out;
                    background: $primary;
                    transform-origin: center;
                }

                &.has-focus{
                    &:after{
                        transform: scaleX(1);
                        transition: transform 150ms $ease-in;
                    }
                }

                &.has-value{
                    label{
                        font-size: 12px;
                        bottom: 34px;
                    }
                }

                &.is-invalid{
                    &:after{
                        transform: scaleX(1);
                        background: $error;
                        transition: background 75ms $ease;
                    }
                }
            }

            input{
                height: 100%;
                background: $off-white;
                border-radius: 4px 4px 0 0;
                border-bottom: 1px solid rgba($black, 0.42);
                transition: border-bottom-color 75ms $ease-out;

                &:focus{
                    html.has-no-js & {
                        border-bottom-color: $primary;
                        transition: border-bottom-color 150ms $ease-in;
                    }

                    & + label{
                        color: $primary;
                        font-size: 12px;
                        bottom: 34px;
                        transition: all 150ms $ease-in;
                    }
                }
            }
    
            label{
                color: rgba($black, 0.6);
                pointer-events: none;
                bottom: 18px;
                position: absolute;
                font-size: 16px;
                left: 12px;
                transition: all 75ms $ease-out;

                html.has-no-js & {
                    font-size: 12px;
                    bottom: 34px;
                }
            }
        }
    }
}

input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
}