.o-freeform{
    .o-freeform_spinner{
        width: 100%;
        text-align: center;
        display: none;
        margin: $unit 0;

        &.is-visible{
            display: inline-block;
        }

        .o-freeform_spinner_message{
            display: block;
            margin-top: $unit;
        }
    }

    .o-freeform_success{
        width: 100%;
        text-align: center;
        display: none;

        &.is-visible{
            display: inline-block;
        }

        .o-freeform_success_message{
            display: block;
            margin: $unit 0;
            color: $success;

            p{
                &:last-of-type{
                    margin-bottom: 0;
                }
            }
        }
    }

    .o-freeform_page{
        opacity: 0;
        display: none;

        *{
            user-select: none;
        }

        &.is-active-page{
            display: inline-block;
            opacity: 1;

            *{
                user-select: auto;
            }
        }
    }

    .o-freeform_steps{
        &.-list{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin-bottom: $unit*2;

            .o-freeform_steps_item{
                list-style-type: none;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                @include size(48px, 48px);
                margin: 0 $unit-half;
                cursor: default;
                user-select: none;
                pointer-events: none;

                &::after{
                    content:"";
                    background-color: $primary;
                    @include size(32px, 32px);
                    border-radius: 100%;
                    position: absolute;
                    transform: scale(0);
                    transition: transform 150ms $ease-sharp, opacity 75ms $ease;
                    opacity: 0;
                }

                &.is-active-page{
                    &:after{
                        opacity: $primary-hover-opacity;
                        transform: scale(1);
                    }
                }

                &.has-seen{
                    pointer-events: all;
                    cursor: pointer;

                    @include hover{
                        &:after{
                            opacity: $primary-hover-opacity;
                            transform: scale(1);
                        }
                    }

                    @include active{
                        &:after{
                            opacity: $primary-active-opacity;
                            transform: scale(1);
                        }
                    }
                }
            }
        }
    }
}
