// Background Color Config
// Background Color Config
// ==========================================================================
.o-icon{
    &::before,
    &::after{
        .-base-background & {
            background-color: $primary;
        }

        .-secondary-background & {
            background-color: $primary;
        }

        .-dark-background & {
            background-color: $primary-alt;
        }

        .-brand-background & {
            background-color: $primary-alt;
        }
    }
}

// Icon Button Config
// ==========================================================================
.o-icon{
    font-size: 22px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    @include size(48px, 48px);

    &::before,
    &::after{
        content:"";
        @include size(42px, 42px);
        border-radius: 100%;
        display: inline-block;
        position: absolute;
        transform-origin: center;
        transform: scale(0);
        opacity: 0;
        transition: all 150ms $ease-sharp;
        z-index: 1;
    }

    @include hover{
        &:before{
            transform: scale(1);
            opacity: $primary-hover-opacity;
            transition: all 150ms $ease-in;
        }
    }

    @include active{
        &:after{
            transform: scale(1);
            opacity: $primary-active-opacity;
            transition: all 150ms $ease-in;
        }
    }

    svg{
        @include size(22px, 22px);
        z-index: 2;
    }
}