// Layout
// ==========================================================================

//                              WARNING
//
// Any modificaitons made to the general column split values must be recreated
// in the browsers/microsoft.scss file. Gird does NOT work on IE 11 so a CSS
// hack will need to be implemented for any additional columns.

.o-layout{
    display: grid;
    row-gap: 0 !important;

    // Layout modifiers
    &.-split-50\/50{
        @media (min-width: $screen-small){
            grid-template-columns: 1fr 1fr;
        }
    }

    &.-split-33\/33\/33{
        @media (min-width: $screen-small){
            grid-template-columns: 1fr 1fr;
        }

        @media (min-width: $screen-medium){
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    &.-split-33\/66{
        @media (min-width: $screen-medium){
            grid-template-columns: 1fr 2fr;
        }
    }

    &.-split-66\/33{
        @media (min-width: $screen-medium){
            grid-template-columns: 2fr 1fr;
        }
    }

    // Gutter modifiers
    &.-gutter{
        gap: $gutter;
    }

    &.-gutter-small{
        gap: $gutter-small;
    }

    &.-gutter-large{
        gap: $gutter-large;
    }
}

// Layout Item
// ==========================================================================
.o-layout_item{
    display: inline-flex; // [1]
    flex-flow: column wrap;
    position: relative;
    box-sizing: border-box;
}
