// Layout
// ==========================================================================
// The layout object provides us with a column-style layout system. This file
// contains the basic structural elements, but classes should be complemented
// with width utilities
// @source https://github.com/inuitcss/inuitcss/blob/0420ba8/objects/_objects.layout.scss

.o-layout
{
    @include u-flexbox;

    // Gutter modifiers
    @media (min-width: $screen-container){
        &.-gutter{
            margin-left: -$gutter;
            margin-right: -$gutter;
        }

        &.-gutter-small{
            margin-left: -$gutter-small;
            margin-right: -$gutter-small;
        }

        &.-gutter-large{
            margin-left: -$gutter-large;
            margin-right: -$gutter-large;
        }
    }
}

// Layout Item
// ==========================================================================
// 1. Required in order to combine fluid widths with fixed gutters.
// 2. By default, all layout items are full-width (mobile first).
// 3. Default item alignment is with the tops of each other, like most traditional grid/layout systems.
.o-layout_item
{
    display: inline-block; // [1]
    width: 100%; // [2]
    vertical-align: top; // [3]
    position: relative;

    // Gutter modifiers
    @media (min-width: $screen-container){
        .o-layout.-gutter > &
        {
            padding-left: $gutter;
            padding-right: $gutter;
        }

        .o-layout.-gutter-small > &
        {
            padding-left: $gutter-small;
            padding-right: $gutter-small;
        }

        .o-layout.-gutter-large > &
        {
            padding-left: $gutter-large;
            padding-right: $gutter-large;
        }
    }
}
