// Background Color Config
// ==========================================================================
.o-table{
    .-base-background & {
        box-shadow: 0 2px 8px rgba($black, 0.15);
    }

    .-secondary-background & {
        box-shadow: 0 2px 8px rgba($black, 0.15);
        background-color: $white;
    }

    .-dark-background & {
        box-shadow: 0 2px 8px rgba($black, 0.3);
    }

    .-brand-background & {
        box-shadow: 0 2px 8px rgba($black, 0.3);
    }

    tbody{
        tr{
            .-base-background & {
                border-color: darken($base-background-color, 5);

                @include hover{
                    &:not(:first-of-type){
                        background: darken($base-background-color, 2);
                    }
                }
            }

            .-secondary-background & {
                border-color: darken($white, 5);

                @include hover{
                    &:not(:first-of-type){
                        background: darken($white, 2);
                    }
                }
            }

            .-dark-background & {
                border-color: lighten($dark-background-color, 5);

                @include hover{
                    &:not(:first-of-type){
                        background: lighten($dark-background-color, 3);
                    }
                }
            }

            .-brand-background & {
                border-color: lighten($brand-background-color, 5);

                @include hover{
                    &:not(:first-of-type){
                        background: lighten($brand-background-color, 3);
                    }
                }
            }
        }
    }
}

// Tables
// ==========================================================================
.o-table{
    display: block;
    border-collapse: collapse;
    border-spacing: 0;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0 auto;
    border-radius: 4px;

    /**
     * Force all cells within a table to occupy the same width as each other.
     * @see https://developer.mozilla.org/en-US/docs/Web/CSS/table-layout#Values
     */

    thead{
        margin: 0;
        padding: 0;
        vertical-align: middle;

        th{
            height: 64px;
            padding: 0 14px 0 24px;
            font-size: 20px;
            text-transform: capitalize;
        }
    }

    tbody{
        margin: 0 auto;
        border: 0;
        display: block;
        vertical-align: baseline;

        tr{
            margin: 0;
            padding: 0;
            vertical-align: baseline;
            font-size: 13px;
            height: 48px;
            background: transparent;
            border-width: 0 0 2px 0;
            border-style: solid;
            transition: background 150ms $ease;

            td{
                padding: 0;
                margin: 0;
                border: 0;
                vertical-align: middle;
                text-align: right;
                padding-left: 56px;

                &.-number{
                    text-align: right;
                }

                &:first-of-type{
                    padding-left: 24px;
                    padding-right: 24px;
                    text-align: left;
                }

                &:last-of-type{
                    width: 100%;
                }
            }

            &:first-of-type{
                font-size: 12px;
                height: 56px;

                td{
                    text-align: right;
                    padding-left: 56px;

                    &:first-of-type{
                        text-align: left;
                        padding-left: 24px;
                        padding-right: 24px;
                    }

                    &:last-of-type{
                        padding-right: 24px;
                    }
                }
            }

            &:last-of-type{
                border-width: 0;
            }
        }
    }
}
