// Transitions
// =============================================================================
$speed:         300ms;
$ease:          cubic-bezier(0.4, 0.0, 0.2, 1);
$ease-sharp:    cubic-bezier(0.4, 0.0, 0.6, 1);
$ease-in:       cubic-bezier(0.0, 0.0, 0.2, 1);
$ease-out:      cubic-bezier(0.4, 0.0, 1, 1);

// Elevations
// =============================================================================
$elevation-1: 0 1px 3px rgba($black, 0.12), 0 1px 2px rgba($black, 0.24);
$elevation-2: 0 3px 6px rgba($black, 0.15), 0 2px 4px rgba($black, 0.12);
$elevation-3: 0 10px 20px rgba($black, 0.15), 0 3px 6px rgba($black, 0.1);
$elevation-4: 0 15px 25px rgba($black, 0.15), 0 5px 10px rgba($black, 0.05);
$elevation-5: 0 20px 40px rgba($black, 0.2);
