{% set sectionOpen = false %}
{% set containerOpen = false %}
{% set columnLayout = 1 %}
{% set columnOpen = false %}
{% set numberOfHeadings = 0 %}

{% cache %}
    <article data-entry="{{ entry.cpEditUrl }}" data-template="{{entry.slug}}" class="o-container -full c-complex-content" complex-content {% if currentUser and currentUser.admin and entry.bool1|length %}complex-content-debug{% endif %}>
        {% for block in entry.cc %}
            {# Determine if we need to grab a utility block or a content block #}
            {% if block.type == "sectionSettings" or block.type == "container" or block.type == "endColumn" %}
                {% switch block.type %}
                    {% case "sectionSettings" %}
                        {# If we already have an open section check if we need to close anything #}
                        {% if sectionOpen %}
                            {% if columnOpen %}
                                </div>
                                {% set columnOpen = false %}
                            {% endif %}
                            {% if containerOpen %}
                                    </div>
                                </div>
                                {% set containerOpen = false %}
                            {% endif %}
                            </section>
                        {% endif %}
                        {% set sectionOpen = true %}
                    {% case "container" %}
                        {# If we already have a container open close it #}
                        {% if containerOpen %}
                            {% if columnOpen %}
                                </div>
                                {% set columnOpen = false %}
                            {% endif %}
                                </div>
                            </div>
                        {% endif %}
                        {% set containerOpen = true %}
                        {% set columnLayout = block.columnLayout.value %}
                    {% case "endColumn" %}
                        {% set columnOpen = false %}
                {% endswitch %}

                {# Generic utility blocks #}
                {% include '_complex-content/base/' ~ block.type %}
            {% else %}
                {# Open a new column if we don't have one opened #}
                {% if not columnOpen %}
                    {% set columnOpen = true %}
                    {% include '_complex-content/base/openColumn' %}
                {% endif %}

                {# Include the content for the block #}
                {% if block.type == 'heading' %}
                    {% set numberOfHeadings = numberOfHeadings + 1 %}
                {% endif %}
                <div class="js-complex-content-block o-wrapper u-1/1" data-block-type="{{ block.type }}" data-block-id="{{ block.id }}">
                    {% include '_complex-content/blocks/' ~ block.type %}
                </div>
            {% endif %}

            {# When we run out of blocks close any open elements #}
            {% if loop.last %}
                {% if columnOpen %}
                    </div>
                {% endif %}
                {% if containerOpen %}
                        </div>
                    </div>
                {% endif %}
                {% if sectionOpen %}
                    </section>
                {% endif %}
            {% endif %}
        {% endfor %}
    </article>
{% endcache %}
