{% set first = true %}

{% do eagerLoadElements(entry, [
    'dca',
    'dca.settings:image',
]) %}

<div data-template="{{entry.slug}}" class="o-container-full c-dca">
    {% for block in entry.dca.all() %}

        {% if block.type == "settings" %}

            {% if first == true %}
                {% set first = false %}
            {% else %}
                    </section>
                </div>
            {% endif %}

            {% set backgroundImage = block.image[0] ?? null %}

            {% if backgroundImage|length %}
                {% set focalPoint = backgroundImage.getFocalPoint() %}
                {% set transformedImage = craft.imager.transformImage(backgroundImage, { width: 1920, height: 1080 }, { mode: 'crop', interlace: true, position: focalPoint }) %}
            {% endif %}

            <div class="c-dca_wrapper o-container-full u-mobile-padding {% if transformedImage is defined %}-image{% else %}{{block.backgroundColor.value}}{% endif %}"
                {% if transformedImage|length %}
                    style="
                        background: url({{transformedImage.url}});
                        background-size: cover;
                        background-position: 50%;
                        background-repeat: no-repeat;
                        background-attachment: fixed;
                    "
                {% endif %}>

            <section class="c-dca_row o-layout -gutter {{block.width}}">

        {% else %}
            {% set colMap = {
                '20'    : 'u-1/1@tiny u-1/5@huge',
                '25'    : 'u-1/1@tiny u-1/2@medium u-1/4@huge',
                '33'    : 'u-1/1@tiny u-1/3@medium',
                '50' 	: 'u-1/1@tiny u-1/2@medium',
                '66' 	: 'u-1/1@tiny u-2/3@medium',
                '75'    : 'u-1/1@tiny u-3/4@huge',
                '80'    : 'u-1/1@tiny u-4/5@huge',
                '100'   : 'u-1/1@tiny'
			} %}

            {% set padMap = {
                'default'       : 'u-margin-vertical',
                'none-top'      : 'u-margin-top-none u-margin-bottom',
                'none-bottom'   : 'u-margin-top u-margin-bottom-none',
                'none'          : 'u-margin-vertical-none',
            } %}

			{% include '_dca/_blocks/' ~ block.type %}

        {% endif %}

        {% if loop.last %}
				</div>
			</section>
		{% endif %}

    {% endfor %}
</article>